<div class="profile-card">
  <div class="row profile-card--blur-content">
    <div class="col-md-4">
      <img class="profile-card__image" src="{{ coordinator.logo ? (coordinator.logo | imagePathComplement) : '../../../assets/img/placeholder-profile.png' }}" alt="" srcset="">
    </div>
    <div class="col-md-8">
      <div class="profile-card__data">
        <p class="profile-data__group">{{ coordinator.group }}</p>
        <p class="profile-data__name">{{ coordinator.name }}</p>
        <a class="profile-data__email" [href]="'mailto:' + coordinator.email" target="_blank">{{ coordinator.email }}</a>
      </div>
    </div>
  </div>
  <div class="row profile-card__action">
    <div class="content-action">
      <button class="btn btn-danger content-action__btn" (click)="delete.emit(coordinator)">
        <i class="fa-solid fa-trash"></i>
        Deletar
      </button>
      <button class="btn btn-primary content-action__btn" (click)="edit.emit()">
        <i class="fa-solid fa-pencil"></i>
        Editar
      </button>
    </div>
  </div>
</div>
