<section id="hero" class="hero d-flex align-items-center section-bg" style="background-color: #fff;">
    <div class="container">
        <div class="row justify-content-between gy-5">

            <!--  <h2 data-aos="fade-up">COM . INDU</h2>-->


            <div class="row align-items-center d-none d-md-block" style="display: flex;width: 60%; text-align: center;">
                <img src="../assets/img/comindu.jpg" class="img-fluid" alt="" data-aos="zoom-out" data-aos-delay="300">
            </div>

            <div class="row align-items-center d-block d-md-none" style="display: flex; text-align: center;">
                <img src="../assets/img/comindu.jpg" class="img-fluid" alt="" data-aos="zoom-out" data-aos-delay="300">
            </div>

            <div
                class="col-lg-5 order-2 order-lg-1 d-flex flex-column justify-content-center align-items-center align-items-lg-start text-center text-lg-start">
                <!--   <div class="twelve" data-aos="fade-right">-->
                <div class="row">
                    <div class="col-lg-6 content">
                        <br>
                        <h2 style="color: #304D63;">{{ 'comIndu.home.apresentacao.titulo' | translate }}</h2>
                        <!-- <h1><u>COMUNIDADES</u></h1>-->
                    </div>

                    <div style="text-align: justify;" data-aos="flip-right" class="mt-2 mb-4">
                        <p style="font-weight: 500; color: #080808; margin: 0;">
                           {{ 'comIndu.home.apresentacao.1' | translate }} <br/>
                           {{ 'comIndu.home.apresentacao.2' | translate }} <br/>
                           {{ 'comIndu.home.apresentacao.3' | translate }} <br/>
                           {{ 'comIndu.home.apresentacao.4' | translate }} <br/>
                           {{ 'comIndu.home.apresentacao.5' | translate }} <br/><br/>
                           {{ 'comIndu.home.apresentacao.6' | translate }} <br/>
                           {{ 'comIndu.home.apresentacao.7' | translate }}
                        </p>
                    </div>

                </div>

            </div>
            <!--    <div class="col-lg-5 order-1 order-lg-2 text-center text-lg-start">
                <img src="../assets/img/comindu.jpg" class="img-fluid" alt="" data-aos="zoom-out" data-aos-delay="300">
            </div>-->
            <div
                class="col-lg-10 order-2 order-lg-1 d-flex flex-column justify-content-center align-items-center align-items-lg-start text-center text-lg-start">

                <!--   <div class="twelve" data-aos="fade-right">-->

                <div>
                    <h2 style="text-align: center;color: #304D63;">{{ 'comIndu.home.comunidade.titulo' | translate }}</h2>
                    <!-- <h1><u>COMUNIDADES</u></h1>-->


                    <div style="text-align: center;" data-aos="flip-right" class="mt-2 mb-4">
                        <p style="font-weight: 500; color: #080808; margin: 0;" [innerHTML]="'comIndu.home.comunidade.corpo' | translate"></p>
                        <br />
                        <br />
                        <br />
                    </div>

                </div>

            </div>

        </div>

        <div class="row">
            <div *ngIf="!user" class="text-center">

                <button class="btn-get-started" [routerLink]="['/auth/register']">
                    <!--<mat-icon>accessibility_new</mat-icon>--> {{ 'header.cadastro' | translate }}
                </button>


                <button class="btn-comindu" [routerLink]="['/auth/login']">
                    <!--   <mat-icon>login</mat-icon>--> {{ 'header.login' | translate }}
                </button>

            </div>
        </div>
        <div>
            <div *ngIf="user?.isAdmin || user?.icComprovanteValido" class="row">



                <div *ngIf="user" class="col-xs-6 col-lg-3 example-button-row">
                    <a></a><button class="btn-comindu" routerLink="/meu-indu">
                        <!--   <mat-icon>home</mat-icon>--> {{ 'comIndu.meu' | translate }} com.indu
                    </button>
                </div>

                <div *ngIf="user?.isAdmin" class="col-xs-6 col-lg-3 example-button-row">
                    <a></a><button class="btn-comindu" routerLink="/com-indu/admin/usuarios">
                        <!--<mat-icon>home</mat-icon>--> {{ 'comIndu.meu' | translate }}
                    </button>
                </div>


                <div *ngIf="user?.isAdmin" class="col-xs-6 col-lg-3 example-button-row">
                    <a></a><button class="btn-comindu" routerLink="/com-indu/chat">
                        <!--<mat-icon>home</mat-icon>--> Chat
                    </button>
                </div>

                <div *ngIf="user?.isAdmin" class="col-xs-6 col-lg-3 example-button-row">
                    <button class="btn-comindu" (click)="register()">
                        <!--<mat-icon>mediation</mat-icon>--> {{ 'comIndu.criarCom' | translate }}
                    </button>
                </div>

            </div>

            <!-- <div>
                <mat-chip-list aria-label="Fish selection" class="p-2" data-aos="fade-right">

                    <mat-chip color="warn" selected *ngFor="let tag of tags">
                        {{tag.name | lowercase}}
                    </mat-chip>

                </mat-chip-list>

            </div>-->
            <br>
            <div>
                <div class="row">
                    <h2 style="color: #304D63;">{{ 'comIndu.tema' | translate }}</h2>
                    <div *ngFor="let comunidade of comunidades" class="col-lg-6 content">
                        <mat-card>
                            <mat-card-header class="card">
                                <button mat-button>
                                    <mat-card-title title="{{comunidade.name}}" class="text-oneline">{{comunidade.name |
                                        titlecase}}</mat-card-title>
                                    <!--<mat-card-subtitle style="color: #304D63;" *ngIf="user"><span
                                            *ngFor="let tag of comunidade.tags">{{tag}} +
                                        </span>
                                    </mat-card-subtitle>-->
                                    <mat-chip-list aria-label="Fish selection" class="p-2" data-aos="fade-right">

                                        <mat-chip style="background-color: #8fb9aa; color: #080808" selected
                                            *ngFor="let tag of comunidade?.tags">
                                            #{{tag}}
                                        </mat-chip>

                                    </mat-chip-list>
                                </button>
                            </mat-card-header>
                            <mat-card-content style="background-color: #f2d096" *ngIf="user">
                                <p>{{comunidade.content}}</p>
                                <mat-divider></mat-divider>
                            </mat-card-content>
                            <mat-card-actions *ngIf="user?.icComprovanteValido || user?.isAdmin" align="end">
                                <button class="btn-entrar-comindu"
                                    [routerLink]="['../comunidade-indu', comunidade._id]">{{ 'comum.entrar' | translate | uppercase }}</button>

                                <button class="btn-entrar-comindu" *ngIf="user?.isAdmin"
                                    (click)="edit(comunidade)">{{ 'comIndu.alterarCom' | translate | uppercase }}</button>

                            </mat-card-actions>
                        </mat-card>
                    </div>


                </div>
            </div>
        </div>
    </div>

</section>