<section id="chefs" class="chefs">
    <div class="container" data-aos="fade-up">

        <div class="hero section-header" style="min-height: 0;">
            <h2>COM.INDU</h2>
        </div>

        <div class="twelve" data-aos="fade-right">
            <h1>Apresentação</h1>
        </div>

        <div style="text-align: justify;" class="mt-4 mb-4">
            Plataforma criada para criar conexões e propagar conhecimentos da área de educação. A ideia principal do
            conceito da plataforma é compartilhar conhecimento entre as pessoas através de comunidades e informações
            contruídas no ensino. Acesse as comunidades e através delas conhecerá pessoas, conexões e conhecimentos.

        </div>
        <div class="twelve" data-aos="fade-right">
            <h1><u>Com</u>unidades</h1>
        </div>

        <div class="row">

            <div class="col-2 example-button-row">
                <button mat-raised-button color="primary" [routerLink]="['/auth/register']">
                    <mat-icon>accessibility_new</mat-icon> Cadastre-se Agora
                </button>
            </div>
            <div *ngIf="user?.isAdmin" class="col-2 example-button-row">
                <button mat-raised-button color="primary" (click)="register()">
                    <mat-icon>mediation</mat-icon> Criar Comunidade
                </button>
            </div>
            <div *ngIf="user" class="col-2 example-button-row">
                <a></a><button mat-raised-button color="accent" routerLink="/meu-indu">
                    <mat-icon>home</mat-icon> Meu com.indu
                </button>
            </div>
            <div *ngIf="!user" class="col-2 example-button-row">
                <a></a><button mat-raised-button color="accent" routerLink="/auth/register">
                    <mat-icon>emoji_people</mat-icon> Cadastre-se com.indu
                </button>
            </div>
        </div>


        <div>
            <mat-chip-list aria-label="Fish selection" class="p-2" data-aos="fade-right">

                <mat-chip color="warn" selected *ngFor="let tag of tags">
                    {{tag.name | lowercase}}
                </mat-chip>

            </mat-chip-list>

        </div>

        <div>
            <div class="row">

                <div *ngFor="let comunidade of comunidades" class="card-wrapper col-4">
                    <mat-card style="cursor: pointer;" [routerLink]="['../comunidade-indu', comunidade._id]">
                        <mat-card-header class="purple" [style.background]="comunidade.cor">
                            <button mat-button>
                                <mat-card-title>{{comunidade.name | titlecase}}</mat-card-title>
                                <mat-card-subtitle><span *ngFor="let tag of comunidade.tags">{{tag}} + </span>
                                </mat-card-subtitle>
                            </button>
                        </mat-card-header>
                        <mat-card-content>
                            <p>{{comunidade.content}}</p>
                            <mat-divider></mat-divider>
                        </mat-card-content>
                        <mat-card-actions align="end" class="pb-2">

                            <!--<button mat-raised-button color="accent"
                                [routerLink]="['../comunidade-indu', comunidade._id]">ENTRAR</button>
                            <button mat-button color="basic"><i title="Compartilhar"
                                    class="bi bi-share fa-2x"></i></button>-->
                        </mat-card-actions>
                    </mat-card>
                </div>


            </div>
        </div>


    </div>
</section>