<header id="header" class="header fixed-top d-flex align-items-center">
  <div class="container d-flex align-items-center justify-content-between">

    <a routerLink="/" class="logo d-flex align-items-center me-auto me-lg-0">
      <!-- Uncomment the line below if you also wish to use an image logo -->
      <img src="assets/img/leped-logo.png"
        alt="LEPED - Laboratório de Estudos e Pesquisas em Didática e Formação de Professores">
    </a>

    <nav id="navbar" class="navbar">
      <ul>
        <!--<li><a routerLink="/historico">Histórico</a></li>
        <li><a routerLink="/linhas-pesquisa">Linhas</a></li>
        <li><a routerLink="/obras-publicadas">Obras Publicadas</a></li>-->
        <!--<li><a routerLink="/endipe">XX ENDIPE RIO 2020</a></li>-->

        <li><a routerLink="/geped">GEPED</a></li>
        <li><a routerLink="/gepemat">GEPEMAT</a></li>
        <li><a routerLink="/geprod">GEPROD</a></li>
        <li><a routerLink="/gedoc">GEDOC</a></li>
        <li><a routerLink="/gecult" (click)="navbar.toggle()">GECULT</a></li>
        <li><a routerLink="/eventos">Eventos</a></li>
        <li><a routerLink="/noticias">Notícias</a></li>
        <li><a *ngIf="!user" routerLink="/auth/login">Login</a></li>

        <li><a *ngIf="user?.isAdmin" routerLink="/admin">Administrador</a></li>
        <li><a *ngIf="user" (click)="logout()">Sair</a></li>

        <!--<li class="dropdown"><a href="#"><span>Drop Down</span> <i
              class="bi bi-chevron-down dropdown-indicator"></i></a>
          <ul>
            <li><a href="#">Drop Down 1</a></li>
            <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i
                  class="bi bi-chevron-down dropdown-indicator"></i></a>
              <ul>
                <li><a href="#">Deep Drop Down 1</a></li>
                <li><a href="#">Deep Drop Down 2</a></li>
                <li><a href="#">Deep Drop Down 3</a></li>
                <li><a href="#">Deep Drop Down 4</a></li>
                <li><a href="#">Deep Drop Down 5</a></li>
              </ul>
            </li>
            <li><a href="#">Drop Down 2</a></li>
            <li><a href="#">Drop Down 3</a></li>
            <li><a href="#">Drop Down 4</a></li>
          </ul>
        </li>-->
      </ul>
    </nav><!-- .navbar -->
    <ngx-flag-picker [selectedCountryCode]="selectedCountryCode" [countryCodes]="countryCodes" [showArrow]="true"
      [showFlags]="true" (changedCountryCode)="changeSelectedCountryCode($event)">
    </ngx-flag-picker>

    <a class="btn-book-a-table" routerLink="/auth/register">COM.INDU</a>
    <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
    <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

  </div>
</header>