<section id="chefs">
    <div data-aos="fade-up">


        <div class="section-header">
            <p>CHAT</p>
        </div>

        <div class="example-button-row">

        </div>


        <div class="wrapper">
            <a class=" btn-book-a-table" routerLink="/home-indu"><button class="btn-comindu" routerLink="/com-indu">
                    Voltar
                </button></a>
            <div class="container">

                <div *ngIf="user?.isAdmin" class="left">
                    <div class="top">
                        <input type="text" [(ngModel)]="emailFind" [ngModelOptions]="{standalone: true}"
                            placeholder="Pesquisar email" />
                        <a style="cursor: pointer;" (click)="finduserChat()" class="search"></a>
                    </div>
                    <ul class="people">

                        <li (click)="selectChat(chat)" *ngFor="let chat of chats.chat" class="person"
                            data-chat="person1">
                            <img
                                src="{{ chat.author.user.image ? (chat.author.user.image | imagePathComplement) : '../../../assets/img/placeholder-profile.png' }}" />
                            <span class="name">{{chat?.author?.user?.email}}</span>
                            <span class="time">{{chat.createAt | date: 'dd/MM/yyyy'}}</span>
                            <span *ngIf="chat.icReply" class="preview">Respondido</span>
                            <span *ngIf="!chat.icReply" class="preview">Aguardando Resposta</span>
                        </li>


                    </ul>
                </div>
                <div [ngClass]="{'right': user?.isAdmin, 'rightUser': !user?.isAdmin }">
                    <div *ngIf="!user?.isAdmin" class="top"><span>Para: <span class="name">Administradores
                                Com.indu</span></span></div>
                    <div *ngIf="user?.isAdmin" class="top"><span>Para: <span class="name">{{userTo}}</span></span>
                    </div>

                    <div class="chat" data-chat="person1">


                        <div *ngFor="let comment of comments?.chat; let i = index">

                            <div *ngIf="i == 0" class="conversation-start">
                                <span>{{comments.createAt | date: 'dd/MM/yyyy'}}
                                </span>
                            </div>

                            <div [innerHTML]="parseContent(comment.content)"
                                [ngClass]="comment?.publisher?.user.email != user.email ? 'bubble you' : 'bubble me'">
                            </div>

                        </div>




                    </div>
                    <div class="write">
                        <input maxlength="240" [(ngModel)]="newComment" [ngModelOptions]="{standalone: true}"
                            type="text" />

                        <a style="cursor: pointer;" (click)="addNewComment()" class="write-link send"></a>
                    </div>
                    <br />
                    <div class="writeCount">
                        <span>{{240 - newComment?.length}} caracteres restantes</span>
                    </div>
                </div>
            </div>
        </div>