<section id="hero" class="hero d-flex align-items-center section-bg">
    <div class="container">
        <div class="row justify-content-between gy-5">
            <div
                class="col-lg-7 order-2 order-lg-1 d-flex flex-column justify-content-center align-items-center align-items-lg-start text-center text-lg-start">
                <h3 data-aos="fade-up"><b>Bem Vindos</b></h3>
                <p data-aos="fade-up" data-aos-delay="100">LABORATÓRIO DE ESTUDOS E PESQUISAS EM DIDÁTICA E FORMAÇÃO DE
                    PROFESSORES</p>
                <div style="text-align: justify;">

                    O LEPED – Laboratório de Estudos e Pesquisas em Didática e Formação de Professores foi fundado, em
                    junho de 2009, por professoras da Faculdade de Educação da UFRJ, a partir do Edital da FAPERJ Nº
                    04/2009, para apoio a instituições de ensino e pesquisa sediadas no Estado do Rio de Janeiro. O
                    Laboratório foi criado com o propósito de favorecer estudos e pesquisas sobre concepções e práticas
                    didáticas nos espaços de formação e de atuação de professores, contribuindo para a produção de
                    conhecimentos sobre o ensinar e o aprender, em contextos situados e histórica e socialmente
                    determinados.
                    São fundadoras do LEPED as professoras Ana Teresa de Carvalho Correa de Oliveira, Giseli Barreto da
                    Cruz, Maria das Graças Chagas de Arruda Nascimento e Monique Andries Nogueira.
                    <br /> <br />
                    O LEPED abarca até o momento cinco grupos de pesquisas (GEPED, GEPROD, GEPEMAT, GECULT e GEDOC),
                    coordenados por professoras da Faculdade de Educação da UFRJ. Os grupos são compostos por
                    pós-graduandos e licenciandos dos diferentes cursos oferecidos pela Universidade e de outras
                    instituições de ensino superior do Estado do Rio de Janeiro, professores da educação básica e outros
                    pesquisadores interessados.
                    <br /> <br />



                </div>

                <div class="d-flex" data-aos="fade-up" data-aos-delay="200">
                    <a href="#" class="btn-book-a-table">com.indu</a>
                    <a href="https://www.youtube.com/watch?v=3_VyOFcRL6g" target="_blank"
                        class="glightbox btn-watch-video d-flex align-items-center"><i
                            class="bi bi-play-circle"></i><span>Vídeo da plataforma</span></a>
                </div>
            </div>
            <div class="col-lg-3 order-1 order-lg-2 text-center text-lg-start">
                <img src="assets/img/leped-logo.png" class="img-fluid" alt="" data-aos="zoom-out" data-aos-delay="300">

                <div class="social-icons">
                    <a class="social-icon social-icon--facebook">
                        <i class="fa-brands fa-facebook"></i>
                        <div class="tooltip">Facebook</div>
                    </a>
                    <a class="social-icon social-icon--youtube">
                        <i class="fa-brands fa-youtube"></i>
                        <div class="tooltip">Youtube</div>
                    </a>
                    <a class="social-icon social-icon--instagram">
                        <i class="fa-brands fa-instagram"></i>
                        <div class="tooltip">Instagram</div>
                    </a>
                    <a class="social-icon social-icon--twitter">
                        <i class="fa-brands fa-twitter"></i>
                        <div class="tooltip">Twitter</div>
                    </a>
                </div>

            </div>
        </div>
    </div>
</section><!-- End Hero Section -->