<div class="row" mat-dialog-content>
  <form [formGroup]="form" (ngSubmit)="register()">

    <!-- <div class="section">
      <h3 class="section__title">Pesquisas</h3>
    </div>-->

    <div class="form-row justify-content-center align-items-center">
      <div class="col-12 col-md-8 order-2 order-md-1">
        <div class="form-group">
          <input type="text" name="titleResearch" class="form-control" id="titleResearch" placeholder="Titulo"
            formControlName="titleResearch" />
          <div class="validation"></div>
        </div>

        <div class="form-group">
          <input type="text" name="coordination" class="form-control" id="coordination" placeholder="Coordenação"
            formControlName="coordination" />
          <div class="validation"></div>
        </div>
        <div class="form-group">
          <input type="text" name="period" class="form-control" id="period" placeholder="Período"
            formControlName="period" />
          <div class="validation"></div>
        </div>

        <div class="form-group">
          <angular-editor [placeholder]="'Resumo...'" formControlName="resume"></angular-editor>
          <div class="validation"></div>
        </div>
        <div class="form-group">
          <input type="text" name="financing" class="form-control" id="financing" placeholder="Financiamento"
            formControlName="financing" />
          <div class="validation"></div>
        </div>

        <div class="form-group">
          <input type="text" name="researchLink" class="form-control" id="researchLink" placeholder="Link da Publicação"
            formControlName="researchLink" />
          <div class="validation"></div>
        </div>

      </div>

    </div>



    <div class="row justify-content-center" mat-dialog-actions>
      <div class="col-md-6">
        <div class="action">
          <a class="btn btn-primary action__btn" (click)="closeDialog()">Cancelar</a>
          <button class="btn btn-primary action__btn" type="submit">Salvar</button>
        </div>
      </div>
    </div>
  </form>
</div>




<!-- <div class="form-group">
          <div class="col-2 col-md-2 mb-3" *ngFor="let publicationResearch of publications; let index = index">
            <div class="profile">
              <input type="text" name="publicationResearch" class="form-control" id="publicationResearch"
                placeholder="Publicações" formControlName="publicationResearch" />
              <div class="validation"></div>
            </div>
          </div>
        </div>-->