h1 {
    position: relative;
    padding: 0;
    margin: 0;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    font-size: 40px;
    color: #ffffff;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

h1 span {
    display: block;
    font-size: 0.5em;
    line-height: 1.3;
}

h1 em {
    font-style: normal;
    font-weight: 600;
}

.twelve h1 {
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    width: 160px;
    text-align: center;
    margin: auto;
    white-space: nowrap;
    padding-bottom: 13px;
}

.twelve h1:before {
    background-color: #c50000;
    content: '';
    display: block;
    height: 3px;
    width: 75px;
    margin-bottom: 5px;
}

.twelve h1:after {
    background-color: #bbff00;
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 3px;
    width: 75px;
    margin-bottom: 0.25em;
}

.content {
    background-color: #eee;
    max-height: 700px;
    overflow-y: scroll;
}

.mensagem {
    bottom: 0;
}

.purple {
    background-color: #9C27B0;
    color: white;
}

.red {
    background-color: #FF5252;
    color: white;
}

.blue {
    background-color: #2196F3;
    color: white;
}

.pink {
    background-color: #FF4081;
    color: white;
}

.mat-card-subtitle {
    color: white;

}

.mat-card {
    padding: 0;
    margin-bottom: 24px;
}

.mat-card-content {
    padding: 5px;
}




@media (max-width: 705px) {
    body {
        font-size: .8em;
    }
}

.deck {
    position: relative;
}

@media (max-width: 705px) {
    .deck {
        margin: 4em auto;
    }
}


.card {
    width: 95%;
    position: relative;
    background-color: #30344c;
    padding: 1em;
    border-radius: 2px;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.3);
    transition: 200ms ease-in-out;
    margin-top: 10px;
    margin-left: 15px;
}

.card+.card {
    margin-top: 1em;
}

.card:hover {
    z-index: 7;
    transform: scale(1.05);
    box-shadow: 0 4px 25px rgba(0, 0, 0, 0.4);
}


@media (max-width: 705px) {
    .card:first-of-type {
        margin-left: -1em;
        margin-right: 1em;
    }
}

@media (max-width: 550px) {
    .card:first-of-type {
        margin: 0;
    }
}

.card:nth-of-type(2) {
    margin-left: 5em;
    margin-right: -5em;
    margin-top: -6em;
}

@media (max-width: 705px) {
    .card:nth-of-type(2) {
        margin-left: 1em;
        margin-right: -1em;
        margin-top: 1em;
    }
}

@media (max-width: 550px) {
    .card:nth-of-type(2) {
        margin: 1em 0 0;
    }
}

.card:nth-of-type(3) {
    margin-top: -2em;
    margin-left: -1em;
    margin-right: 1em;
}

@media (max-width: 705px) {
    .card:nth-of-type(3) {
        margin-left: -1em;
        margin-right: 1em;
        margin-top: 1em;
    }

    .card:nth-of-type(3):after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: -1em;
        display: block;
        border-bottom: 5px solid rgba(192, 57, 43, 0.6);
    }
}

@media (max-width: 550px) {
    .card:nth-of-type(3) {
        margin: 1em 0 0;
    }
}

.cardHeader {
    display: grid;
    grid-template-columns: 36px auto 100px;
    align-items: center;
    text-transform: uppercase;
}

.cardHeader .cardHeader_type {
    color: #FFD433;
    margin: 10px;
}

.cardHeader .cardHeader_account {
    color: #C6E1ED;
    font-size: .85em;
    font-weight: 600;
    letter-spacing: 1px;
}

.cardHeader .cardHeader_date {
    margin: 8px;
    color: #C6E1ED;
    font-size: .85em;
    font-weight: 600;
    text-align: right;
}

.cardBody {
    display: flex;
    margin: 0 10px 10px;
}

.cardBody .cardText {
    margin: 0 10px 0 0;
    white-space: pre-line;
    color: #c0c3d7;
    font-weight: 400;
    line-height: 1.5;
}

.container {
    margin: 0;
    padding: 0;
}



.chat-container {
    background-color: #B0BEC5;
}

.chat {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    font-family: helvetica;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 700px;
    overflow-y: auto;
}

.messages {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.message {
    border-radius: 20px;
    padding: 8px 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    display: inline-block;
}

.yours {
    align-items: flex-start;
}

.yours .message {
    margin-right: 25%;
    background-color: #eee;
    position: relative;
}



.mine {
    align-items: flex-end;
}

.mine .message {
    color: white;
    margin-left: 25%;
    background: linear-gradient(to bottom, #539299 0%, #0085D1 100%);
    background-attachment: fixed;
    position: relative;
}

.publique {
    padding-top: 10px;
    color: black;
}

/* Spotlight */
.spotlight {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
}

.spotlight:nth-child(2n) {
    -moz-flex-direction: row-reverse;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
}

.spotlight:nth-child(1) {
    background-color: rgba(0, 0, 0, 0.075);
}

.spotlight:nth-child(2) {
    background-color: rgba(0, 0, 0, 0.15);
}

.spotlight:nth-child(3) {
    background-color: rgba(0, 0, 0, 0.225);
}

.spotlight:nth-child(4) {
    background-color: rgba(0, 0, 0, 0.3);
}

.spotlight:nth-child(5) {
    background-color: rgba(0, 0, 0, 0.375);
}

.spotlight:nth-child(6) {
    background-color: rgba(0, 0, 0, 0.45);
}

.spotlight:nth-child(7) {
    background-color: rgba(0, 0, 0, 0.525);
}

.spotlight:nth-child(8) {
    background-color: rgba(0, 0, 0, 0.6);
}

.spotlight:nth-child(9) {
    background-color: rgba(0, 0, 0, 0.675);
}

.spotlight:nth-child(10) {
    background-color: rgba(0, 0, 0, 0.75);
}

@media screen and (max-width: 1280px) {
    .spotlight .image {
        width: 45%;
    }

    .spotlight .content {
        width: 55%;
    }
}

@media screen and (max-width: 980px) {
    .spotlight {
        display: block;
    }

    .spotlight br {
        display: none;
    }

    .spotlight .image,
    .spotlight .example {
        width: 100%;
    }

    .spotlight .content {
        padding: 4em 3em 2em 3em;
        max-width: none;
        text-align: center;
        width: 100%;
    }
}

@media screen and (max-width: 736px) {
    .spotlight .content {
        padding: 3em 2em 1em 2em;
    }
}

/* Wrapper */
.wrapper {
    padding: 6em 0 4em 0;
}

.wrapper>.inner {
    width: 60em;
    margin: 0 auto;
}

@media screen and (max-width: 1280px) {
    .wrapper>.inner {
        width: 90%;
    }
}

@media screen and (max-width: 980px) {
    .wrapper>.inner {
        width: 100%;
    }
}

.wrapper.alt {
    padding: 0;
}

.wrapper.style2 {
    background-color: #2e3842;
}

/* Spotlight */
.spotlight {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
}

.spotlight .image {
    -moz-order: 1;
    -webkit-order: 1;
    -ms-order: 1;
    order: 1;
    border-radius: 0;
    width: 40%;
}

.spotlight .image img {
    border-radius: 0;
    width: 100%;
}

.spotlight .example {
    -moz-order: 1;
    -webkit-order: 1;
    -ms-order: 1;
    order: 1;
    position: relative;
    min-height: 450px;
    width: 40%;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    align-content: center;
    align-items: center;
}

.spotlight .content {
    padding: 2em 4em 0.1em 4em;
    -moz-order: 2;
    -webkit-order: 2;
    -ms-order: 2;
    order: 2;
    max-width: 48em;
    width: 60%;
}

.spotlight:nth-child(2n) {
    -moz-flex-direction: row-reverse;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
}

.spotlight:nth-child(1) {
    background-color: rgba(0, 0, 0, 0.075);
}

.spotlight:nth-child(2) {
    background-color: rgba(0, 0, 0, 0.15);
}

.spotlight:nth-child(3) {
    background-color: rgba(0, 0, 0, 0.225);
}

.spotlight:nth-child(4) {
    background-color: rgba(0, 0, 0, 0.3);
}

.spotlight:nth-child(5) {
    background-color: rgba(0, 0, 0, 0.375);
}

.spotlight:nth-child(6) {
    background-color: rgba(0, 0, 0, 0.45);
}

.spotlight:nth-child(7) {
    background-color: rgba(0, 0, 0, 0.525);
}

.spotlight:nth-child(8) {
    background-color: rgba(0, 0, 0, 0.6);
}

.spotlight:nth-child(9) {
    background-color: rgba(0, 0, 0, 0.675);
}

.spotlight:nth-child(10) {
    background-color: rgba(0, 0, 0, 0.75);
}

@media screen and (max-width: 1280px) {
    .spotlight .image {
        width: 45%;
    }

    .spotlight .content {
        width: 55%;
    }
}

@media screen and (max-width: 980px) {
    .spotlight {
        display: block;
    }

    .spotlight br {
        display: none;
    }

    .spotlight .image,
    .spotlight .example {
        width: 100%;
    }

    .spotlight .content {
        padding: 4em 3em 2em 3em;
        max-width: none;
        text-align: center;
        width: 100%;
    }
}

@media screen and (max-width: 736px) {
    .spotlight .content {
        padding: 3em 2em 1em 2em;
    }
}

@media screen and (max-width: 980px) {
    .wrapper {
        padding: 4em 3em 2em 3em;
    }
}

@media screen and (max-width: 736px) {
    .wrapper {
        padding: 3em 2em 1em 2em;
    }
}

.user-avatar {
    margin: 0 0 1rem 0;
}

.user-avatar img {
    width: 30px;
    height: 30px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
}

::ng-deep {
    .ngxp__container {
        background: antiquewhite;
    }
}