h1 {
    position: relative;
    padding: 0;
    margin: 0;
    font-family: "Verdana";
    font-weight: 300;
    font-size: 40px;
    color: #ffffff;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

h1 span {
    display: block;
    font-size: 0.5em;
    line-height: 1.3;
}

h1 em {
    font-style: normal;
    font-weight: 600;
}

.twelve h1 {
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    width: 160px;
    text-align: center;
    margin-left: 10px;
    white-space: nowrap;
    padding-bottom: 13px;
}

.twelve h1:before {
    background-color: #ED8975;
    content: '';
    display: block;
    height: 3px;
    width: 75px;
    margin-bottom: 5px;
}

.twelve h1:after {
    background-color: #b2e7E8;
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 3px;
    width: 75px;
    margin-bottom: 0.25em;
}

.content {
    background-color: #eee;
    max-height: 700px;
    overflow-y: scroll;
}

.mensagem {
    bottom: 0;
}

.purple {
    background-color: #8FB9AA;
    color: black;
}

.red {
    background-color: #ED8975;
    color: black;
}

.blue {
    background-color: #B2E7E8;
    color: black;
}

.pink {
    background-color: #304d63;
    color: black;
}

.mat-card-subtitle {
    color: black;

}

.mat-card {
    padding: 0;
    margin-bottom: 24px;
}

.mat-card-content {
    padding: 5px;
}




@media (max-width: 705px) {
    body {
        font-size: .8em;
    }
}

.deck {
    position: relative;
}

@media (max-width: 705px) {
    .deck {
        margin: 4em auto;
    }
}


.card {
    position: relative;
    background-color: #30344c;
    padding: 1em;
    border-radius: 2px;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.3);
    transition: 200ms ease-in-out;
    margin-top: 10px;
    margin-left: 15px;
}

.card+.card {
    margin-top: 1em;
}

.card:hover {
    z-index: 7;
    transform: scale(1.05);
    box-shadow: 0 4px 25px rgba(0, 0, 0, 0.4);
}


@media (max-width: 705px) {
    .card:first-of-type {
        margin-left: -1em;
        margin-right: 1em;
    }
}

@media (max-width: 550px) {
    .card:first-of-type {
        margin: 0;
    }
}

.card:nth-of-type(2) {
    margin-left: 5em;
    margin-right: -5em;
    margin-top: -6em;
}

@media (max-width: 705px) {
    .card:nth-of-type(2) {
        margin-left: 1em;
        margin-right: -1em;
        margin-top: 1em;
    }
}

@media (max-width: 550px) {
    .card:nth-of-type(2) {
        margin: 1em 0 0;
    }
}

.card:nth-of-type(3) {
    margin-top: -2em;
    margin-left: -1em;
    margin-right: 1em;
}

@media (max-width: 705px) {
    .card:nth-of-type(3) {
        margin-left: -1em;
        margin-right: 1em;
        margin-top: 1em;
    }

    .card:nth-of-type(3):after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: -1em;
        display: block;
        border-bottom: 5px solid rgba(192, 57, 43, 0.6);
    }
}

@media (max-width: 550px) {
    .card:nth-of-type(3) {
        margin: 1em 0 0;
    }
}

.cardHeader {
    display: grid;
    grid-template-columns: 36px auto 100px;
    align-items: center;
    text-transform: uppercase;
}

.cardHeader .cardHeader_type {
    color: #FFD433;
    margin: 10px;
}

.cardHeader .cardHeader_account {
    color: #C6E1ED;
    font-size: .85em;
    font-weight: 600;
    letter-spacing: 1px;
}

.cardHeader .cardHeader_date {
    margin: 8px;
    color: #C6E1ED;
    font-size: .85em;
    font-weight: 600;
    text-align: right;
}

.cardBody {
    display: flex;
    margin: 0 10px 10px;
}

.cardBody .cardText {
    margin: 0 10px 0 0;
    white-space: pre-line;
    color: #c0c3d7;
    font-weight: 400;
    line-height: 1.5;
}

.container {
    margin: 0;
    padding: 0;
}



.chat-container {
    background-color: #eeeeee;
}

.chat {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    font-family: helvetica;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 700px;
    overflow-y: auto;
}

.messages {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.message {
    border-radius: 20px;
    padding: 8px 15px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.yours {
    align-items: flex-start;
}

.yours .message {
    margin-right: 25%;
    background-color: #fff;
    position: relative;
}



.mine {
    align-items: flex-end;
}

.mine .message {
    color: white;
    margin-left: 25%;
    background: linear-gradient(to bottom, #539299 0%, #0085D1 100%);
    background-attachment: fixed;
    position: relative;
}

.publique {
    padding-top: 10px;
    color: black;
}

/* Spotlight */
.spotlight {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
}

.spotlight:nth-child(2n) {
    -moz-flex-direction: row-reverse;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
}

.spotlight:nth-child(1) {
    background-color: rgba(0, 0, 0, 0.075);
}

.spotlight:nth-child(2) {
    background-color: rgba(0, 0, 0, 0.15);
}

.spotlight:nth-child(3) {
    background-color: rgba(0, 0, 0, 0.225);
}

.spotlight:nth-child(4) {
    background-color: rgba(0, 0, 0, 0.3);
}

.spotlight:nth-child(5) {
    background-color: rgba(0, 0, 0, 0.375);
}

.spotlight:nth-child(6) {
    background-color: rgba(0, 0, 0, 0.45);
}

.spotlight:nth-child(7) {
    background-color: rgba(0, 0, 0, 0.525);
}

.spotlight:nth-child(8) {
    background-color: rgba(0, 0, 0, 0.6);
}

.spotlight:nth-child(9) {
    background-color: rgba(0, 0, 0, 0.675);
}

.spotlight:nth-child(10) {
    background-color: rgba(0, 0, 0, 0.75);
}

@media screen and (max-width: 1280px) {
    .spotlight .image {
        width: 45%;
    }

    .spotlight .content {
        width: 55%;
    }
}

@media screen and (max-width: 980px) {
    .spotlight {
        display: block;
    }

    .spotlight br {
        display: none;
    }

    .spotlight .image,
    .spotlight .example {
        width: 100%;
    }

    .spotlight .content {
        padding: 4em 3em 2em 3em;
        max-width: none;
        text-align: center;
        width: 100%;
    }
}

@media screen and (max-width: 736px) {
    .spotlight .content {
        padding: 3em 2em 1em 2em;
    }
}

/* Wrapper */
.wrapper {
    padding: 6em 0 4em 0;
}

.wrapper>.inner {
    width: 60em;
    margin: 0 auto;
}

@media screen and (max-width: 1280px) {
    .wrapper>.inner {
        width: 90%;
    }
}

@media screen and (max-width: 980px) {
    .wrapper>.inner {
        width: 100%;
    }
}

.wrapper.alt {
    padding: 0;
}

.wrapper.style2 {
    background-color: #2e3842;
}

/* Spotlight */
.spotlight {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
}

.spotlight .image {
    -moz-order: 1;
    -webkit-order: 1;
    -ms-order: 1;
    order: 1;
    border-radius: 0;
    width: 40%;
}

.spotlight .image img {
    border-radius: 0;
    width: 100%;
}

.spotlight .example {
    -moz-order: 1;
    -webkit-order: 1;
    -ms-order: 1;
    order: 1;
    position: relative;
    min-height: 450px;
    width: 40%;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    align-content: center;
    align-items: center;
}

.spotlight .content {
    padding: 2em 4em 0.1em 4em;
    -moz-order: 2;
    -webkit-order: 2;
    -ms-order: 2;
    order: 2;
    max-width: 48em;
    width: 60%;
}

.spotlight:nth-child(2n) {
    -moz-flex-direction: row-reverse;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
}

.spotlight:nth-child(1) {
    background-color: rgba(0, 0, 0, 0.075);
}

.spotlight:nth-child(2) {
    background-color: rgba(0, 0, 0, 0.15);
}

.spotlight:nth-child(3) {
    background-color: rgba(0, 0, 0, 0.225);
}

.spotlight:nth-child(4) {
    background-color: rgba(0, 0, 0, 0.3);
}

.spotlight:nth-child(5) {
    background-color: rgba(0, 0, 0, 0.375);
}

.spotlight:nth-child(6) {
    background-color: rgba(0, 0, 0, 0.45);
}

.spotlight:nth-child(7) {
    background-color: rgba(0, 0, 0, 0.525);
}

.spotlight:nth-child(8) {
    background-color: rgba(0, 0, 0, 0.6);
}

.spotlight:nth-child(9) {
    background-color: rgba(0, 0, 0, 0.675);
}

.spotlight:nth-child(10) {
    background-color: rgba(0, 0, 0, 0.75);
}

@media screen and (max-width: 1280px) {
    .spotlight .image {
        width: 45%;
    }

    .spotlight .content {
        width: 55%;
    }
}

@media screen and (max-width: 980px) {
    .spotlight {
        display: block;
    }

    .spotlight br {
        display: none;
    }

    .spotlight .image,
    .spotlight .example {
        width: 100%;
    }

    .spotlight .content {
        padding: 4em 3em 2em 3em;
        max-width: none;
        text-align: center;
        width: 100%;
    }
}

@media screen and (max-width: 736px) {
    .spotlight .content {
        padding: 3em 2em 1em 2em;
    }
}

@media screen and (max-width: 980px) {
    .wrapper {
        padding: 4em 3em 2em 3em;
    }
}

@media screen and (max-width: 736px) {
    .wrapper {
        padding: 3em 2em 1em 2em;
    }
}

.user-avatar {
    margin: 0 0 1rem 0;
}

.user-avatar img {
    width: 30px;
    height: 30px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
}

::ng-deep {
    .ngxp__container {
        background: antiquewhite;
    }
}


/** ====================
* Lista de Comentarios
=======================*/
.comments-container {
    margin: 60px auto 15px;
    width: 768px;
}

.comments-container h1 {
    font-size: 36px;
    color: #283035;
    font-weight: 400;
}

.comments-container h1 a {
    font-size: 18px;
    font-weight: 700;
}

.comments-list {
    margin-top: 30px;
    position: relative;
}

/**
* Lineas / Detalles
-----------------------*/
.comments-list:before {
    content: '';

    height: 100%;
    background: #c7cacb;
    position: absolute;
    left: 32px;
    top: 0;
}

.comments-list:after {
    content: '';
    position: absolute;
    background: #c7cacb;
    bottom: 0;
    left: 27px;
    width: 7px;
    height: 7px;
    border: 3px solid #dee1e3;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.reply-list:before,
.reply-list:after {
    display: none;
}

.reply-list li:before {
    content: '';
    background: #c7cacb;
    position: absolute;
    top: 25px;
    left: -55px;
}


.comments-list li {
    margin-bottom: 15px;
    display: block;
    position: relative;
}

.comments-list li:after {
    content: '';
    display: block;
    clear: both;
    height: 0;
    width: 0;
}

.reply-list {
    padding-left: 88px;
    clear: both;
    margin-top: 15px;
}

/**
* Avatar
---------------------------*/
.comments-list .comment-avatar {
    width: 65px;
    height: 65px;
    position: relative;
    z-index: 99;
    float: left;
    border: 3px solid #FFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.comments-list .comment-avatar img {
    width: 100%;
    height: 100%;
}

.reply-list .comment-avatar {
    width: 50px;
    height: 50px;
}

.comment-main-level:after {
    content: '';
    width: 0;
    height: 0;
    display: block;
    clear: both;
}

/**
* Caja del Comentario
---------------------------*/
.comments-list .comment-box {
    width: 90%;
    float: right;
    position: relative;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}

.comments-list .comment-box:before,
.comments-list .comment-box:after {
    content: '';
    height: 0;
    width: 0;
    position: absolute;
    display: block;
    border-width: 10px 12px 10px 0;
    border-style: solid;
    border-color: transparent #FCFCFC;
    top: 8px;
    left: -11px;
}

.comments-list .comment-box:before {
    border-width: 11px 13px 11px 0;
    border-color: transparent rgba(0, 0, 0, 0.05);
    left: -12px;
}



.comment-box .comment-head {
    background: #FCFCFC;
    padding: 10px 12px;
    border-bottom: 1px solid #E5E5E5;
    overflow: hidden;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
}

.comment-box .comment-head i {
    float: right;
    margin-left: 14px;
    position: relative;
    top: 2px;
    color: #A6A6A6;
    cursor: pointer;
    -webkit-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
}

.comment-box .comment-head i:hover {
    color: #03658c;
}

.comment-box .comment-name {
    color: #283035;
    font-size: 14px;
    font-weight: 700;
    float: left;
    margin-right: 10px;
}

.comment-box .comment-name a {
    color: #283035;
}

.comment-box .comment-head span {
    float: left;
    color: #999;
    font-size: 13px;
    position: relative;
    top: 1px;
}

.comment-box .comment-content {
    background: #FFF;
    padding: 12px;
    font-size: 15px;
    color: #595959;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
}

.comment-push {
    width: 100vh;
}

.custom-textarea {
    outline: none;
    resize: none;
    border-right: 0;
}

.count-div {
    height: 34px;
    color: white;
    font-size: 14px;
    border-left: 0;
}

.display-flex {
    display: flex
}

.comment-box .comment-name.by-author,
.comment-box .comment-name.by-author a {
    color: #03658c;
}

.comment-box .comment-name.by-author:after {
    content: 'autor';
    background: #03658c;
    color: #FFF;
    font-size: 12px;
    padding: 3px 5px;
    font-weight: 700;
    margin-left: 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

/** =====================
* Responsive
========================*/
@media only screen and (max-width: 766px) {
    .comments-container {
        width: 480px;
    }

    .comments-list .comment-box {
        width: 390px;
    }

    .reply-list .comment-box {
        width: 320px;
    }
}