<section id="chefs">
    <div data-aos="fade-up">

        <div class="section-header">
            <p>COM.INDU</p>
        </div>



        <div class="row" style="min-height: 800px;">
            <div class="col-2" data-aos="fade-left">
                <div>
                    <mat-list>
                        <div mat-subheader>Com.você</div>
                        <mat-list-item>
                            <div matListItemLine>@tatistofella</div>
                        </mat-list-item>
                        <mat-list-item>
                            <div matListItemLine>@giselicruz</div>
                        </mat-list-item>

                    </mat-list>
                </div>
            </div>

            <div class="col-8">
                <div class="twelve purple" data-aos="flip-left">
                    <h1>Escolas em área de risco</h1>
                </div>
                <mat-chip-list aria-label="Fish selection" class="p-2" data-aos="fade-right">

                    <mat-chip color="accent" selected>
                        Escolas
                    </mat-chip>

                    <mat-chip color="accent" selected>
                        risco
                    </mat-chip>

                    <mat-chip color="accent" selected>
                        ensino
                    </mat-chip>

                    <mat-chip color="accent" selected>
                        problemas sociais
                    </mat-chip>
                </mat-chip-list>

                <div id="chefs" class="content p-2" data-aos="zoom-in-down">


                    <div class="message">

                        <div class='deck' data-aos="fade-right">
                            <div class='card'>
                                <header class='cardHeader'>
                                    <i class='fab fa-instagram cardHeader_type'></i>
                                    <span class='cardHeader_account'>@giselicruz</span>
                                    <span class='cardHeader_date'>Jul 1 16:03</span>
                                </header>
                                <div class='cardBody'>
                                    <p class='cardText'>Atenção pessoal, nesta terça feira ocorrerá um evento muito
                                        importante para ajudar no suporte a escolas em área de risco neste youtube ...
                                    </p>

                                </div>
                            </div>
                        </div>

                        <div class='deck' data-aos="fade-left">
                            <div class='card'>
                                <header class='cardHeader'>
                                    <i class='fab fa-instagram cardHeader_type'></i>
                                    <span class='cardHeader_account'>@talitaribeiro</span>
                                    <span class='cardHeader_date'>Jul 1 10:03</span>
                                </header>
                                <div class='cardBody'>
                                    <p class='cardText'>Leiam o livro: "Era uma vez na escola" muito bom para ensinar
                                    </p>

                                </div>
                            </div>
                        </div>

                        <div class='deck' data-aos="fade-left">
                            <div class='card'>
                                <header class='cardHeader'>
                                    <i class='fab fa-instagram cardHeader_type'></i>
                                    <span class='cardHeader_account'>@talitaribeiro</span>
                                    <span class='cardHeader_date'>Jul 1 10:03</span>
                                </header>
                                <div class='cardBody'>
                                    <p class='cardText'>Leiam o livro: "Era uma vez na escola" muito bom para ensinar
                                    </p>

                                </div>
                            </div>
                        </div>



                    </div>
                </div>

                <div class="mensagem" data-aos="fade-right">
                    <div class="form-group">
                        <angular-editor [config]="editorConfig" [placeholder]="'Descrição...'"></angular-editor>
                    </div>
                </div>

            </div>



            <div class="col-2 chat-container" data-aos="fade-right">
                <h3 style="color:rgb(255, 255, 255)" class="text-center">Comunidade</h3>
                <div class="chat">
                    <div class="mine messages">
                        <div class="message last">
                            Esse vídeo me ajudou muito!
                        </div>
                    </div>
                    <div class="yours messages">
                        <div class="message">
                            Hey!
                        </div>
                        <div class="message">
                            Meus alunos são muito afrontosos
                        </div>
                        <div class="message last">
                            Falem sobre este conteúdo?
                        </div>
                    </div>
                    <div class="mine messages">
                        <div class="message">
                            Muito bom!
                        </div>
                        <div class="message last">
                            Vocês são demais
                        </div>
                    </div>
                </div>
            </div>

        </div><!-- end ROW-->
    </div>
</section>