<section id="hero" style="padding: 0px 0px;">

    <div class="container">
        <div data-aos="flip-left" style="margin-top: 15px;" data-aos-easing="ease-out-cubic" data-aos-duration="2000"
            class="row justify-content-between gy-5 ">
            <ngb-carousel class="">
                <ng-template ngbSlide *ngFor="let image of images">
                    <div class="wrapper">
                        <img [src]="image.src" alt="Random first slide" class="w-100">
                    </div>
                    <div data-aos="fade-right">
                        <div class="row" class="carousel-caption-container">
                            <h3 class="carousel-caption-header">{{ image.title }}</h3>

                            <div class="carousel-caption-description d-none d-sm-block">
                                {{ image.short }}
                                <a href="" class="carousel-caption-link">Leia mais</a>
                            </div>

                            <div class="carousel-caption-description-mobile d-sm-none">
                                {{ image.short }}
                                <a href="" class="carousel-caption-link">Leia mais</a>
                            </div>

                        </div>
                    </div>
                </ng-template>
            </ngb-carousel>
        </div>
    </div>
</section>