<div class="row" mat-dialog-content>
    <div class="section-header">
        <p>COM.INDU - Cadastro</p>
    </div>
    <form [formGroup]="form" (ngSubmit)="register()">

        <div class="form-row justify-content-center align-items-center">
            <div class="col-12 col-md-8 order-2 order-md-1">

                <div class="form-group">
                    <input type="text" name="name" class="form-control" id="name" placeholder="Titulo"
                        formControlName="title" />
                    <div class="validation"></div>
                </div>
                <div class="form-group">
                    <angular-editor [placeholder]="'Descrição...'" formControlName="description"></angular-editor>
                    <div class="validation"></div>
                </div>
                <div class="form-group">
                    <input type="text" name="group" class="form-control" id="group" placeholder="Organizadores"
                        formControlName="owners" />
                    <div class="validation"></div>
                </div>
                <div class="form-group">
                    <input type="text" name="group" class="form-control" id="group"
                        placeholder="Área de Interesse (separe por ; )" formControlName="metadados" />
                    <div class="validation"></div>
                </div>

            </div>
            <div class="col-8 col-md-4 order-1 order-md-2 mb-3">
                <div class="profile">
                    <img [src]="logo ? logo : '../../../assets/img/placeholder-profile.png'" class="profile__image">
                    <input type="file" name="logo" class="profile__input" id="logo" placeholder="Logo"
                        (change)="getProfileImageCode($event)" />
                </div>
            </div>
        </div>



        <div class="row justify-content-center" mat-dialog-actions>
            <div class="col-md-6">
                <div class="action">
                    <a class="btn btn-primary action__btn" (click)="closeDialog()">Cancelar</a>
                    <button class="btn btn-primary action__btn" type="submit">Salvar</button>
                </div>
            </div>
        </div>
    </form>
</div>