<div>
    <section id="hero" class="hero d-flex align-items-center section-bg" style="background-color: #fff;">
        <div class="container">
            <div class="row justify-content-between gy-5">
                <div
                    class="col-lg-7 order-2 order-lg-1 d-flex flex-column justify-content-center align-items-center align-items-lg-start text-center text-lg-start">
                    <h2 data-aos="fade-up"> GEPED - Grupo de Estudos e Pesquisas em Didática e Formação de Professores
                    </h2>
                    <p data-aos="fade-up" data-aos-delay="100">

                        Grupo cadastrado no CNPq
                        <br>
                    </p>

                    <div class="chef-member">
                        <div class="member-img">
                            <img src="../assets/img/grupos pesquisa/g2.jpg" class="img-fluid" alt="">

                        </div>
                        <div class="member-info">
                            <h4><strong>Coordenadora:</strong>Profª Drª Giseli Barreto da Cruz</h4>
                            <p> <a href="mailto:giselicruz@ufrj.br">giselicruz@ufrj.br</a> <br />
                                <a target="_blank" href="http://lattes.cnpq.br/5755499489661099">Lattes</a><br />

                            </p>
                        </div>
                    </div>


                    <div class="d-flex" data-aos="fade-up" data-aos-delay="200">
                        <div class="social-icons">
                            <a class="social-icon social-icon--facebook">
                                <i class="fa-brands fa-facebook"></i>
                                <div class="tooltip">Facebook</div>
                            </a>
                            <a class="social-icon social-icon--youtube">
                                <i class="fa-brands fa-youtube"></i>
                                <div class="tooltip">Youtube</div>
                            </a>
                            <a href="https://www.instagram.com/geped.ufrj/?hl=pt" target="_blank"
                                class="social-icon social-icon--instagram">
                                <i class="fa-brands fa-instagram"></i>
                                <div class="tooltip">Instagram</div>
                            </a>
                            <a class="social-icon social-icon--twitter">
                                <i class="fa-brands fa-twitter"></i>
                                <div class="tooltip">Twitter</div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 order-1 order-lg-2 text-center text-lg-start">
                    <img src="../assets/img/grupos pesquisa/g1.jpg" class="img-fluid" alt="" data-aos="zoom-out"
                        data-aos-delay="300">
                </div>
            </div>
        </div>
    </section>
    <section id="chefs" style="padding: 40px 0;" class="">
        <div class="container">
            <div class="tabset">

                <input type="radio" name="tabset" id="tab1" aria-controls="quemSomos" checked>
                <label for="tab1">Quem Somos?</label>

                <input type="radio" name="tabset" id="tab2" aria-controls="projetos">
                <label for="tab2">Pesquisas</label>

                <input type="radio" name="tabset" id="tab3" aria-controls="publicacoes">
                <label for="tab3">Publicações</label>

                <input type="radio" name="tabset" id="tab4" aria-controls="painel">
                <label for="tab4">Painel de Fotos e Vídeos</label>

                <input type="radio" name="tabset" id="tab5" aria-controls="contato">
                <label for="tab5">Contato</label>

                <div class="tab-panels">

                    <section id="quemSomos" class="tab-panel">
                        <h2>Quem Somos?</h2>
                        <p>
                            O GEPED dedica-se a estudos e pesquisas que têm como foco Pedagogia, Didática,
                            Formação e Trabalho de Professores. Trata-se de um grupo que reúne professores
                            universitários, doutorandos, mestrandos, graduandos, professores e gestores da escola
                            básica.
                            <br>
                            No âmbito das discussões e pesquisas realizadas atualmente coloca-se como questão central
                            o que prevalece como Didática na formação de professores?
                            <br>
                            Que concepções e práticas didáticas integram a base de conhecimento profissional docente?
                            <br>
                            Propõe um programa integrado de pesquisas, formado de três grandes estudos investigativos:
                            <br>
                            o primeiro estudo sobre concepções e práticas didáticas de formadores de professores(2009-
                            2012); o segundo sobre a Didática e o aprendizado da docência no processo de constituição
                            identitária de futuros professores (2012-2015); e o terceiro sobre concepções e práticas
                            didáticas de egressos de cursos de licenciatura (2015-2018). O que se compreende sobre
                            Didática e o que se faz com ela representa o norte das pesquisas, a partir da visão de
                            professores dos cursos de licenciatura (primeiro estudo); de estudantes concluintes de
                            cursos
                            de licenciatura (segundo estudo); e de professores da educação básica (terceiro estudo).
                            <br>
                            Além desse Programa, desenvolve estudos sobre o trabalho docente na contemporaneidade
                            e sobre o PIBID – Programa Institucional de Bolsas de Iniciação à Docência, da CAPES.



                        </p>

                    </section>

                    <section id="projetos" class="tab-panel">
                        <h2>Projetos</h2>
                        <p><strong>Pesquisas:</strong> texto.</p>
                        <p><strong>History:</strong> texto.</p>
                    </section>

                    <section id="publicacoes" class="tab-panel">
                        <h2>Publicações</h2>
                        <p><strong>Artigos em Periódicos:</strong> <br />
                            La pedagogie em question <br />
                            Giseli Barreto da Cruz e Menga Lüdke <br />
                            Penser l’Edication (Mont-Saint-Aignan) <br />
                            Vol. 34, p.7-26, 2014. <br /> <br />

                            A Didática de professores referenciais e suas contribuições para a formação docente <br />
                            Giseli Barreto da Cruz e Jules Marcel <br />
                            Estudos em Avaliação Educacional (FCC) <br />
                            Vol. 25, p.56-82, 2014. <br />
                            http://publicacoes.fcc.org.br/ojs/index.php/eae/article/view/2824/2697 <br /><br />

                            A formação do pedagogo docente no curso de Pedagogia <br />
                            Giseli Barreto da Cruz e Armando Arosa <br />
                            Educação e Cultura Contemporânea <br />
                            Vol. 11, p.30-68, 2014. <br />
                            http://periodicos.estacio.br/index.php/reeduc/article/view/1124/540 <br /><br />

                            Ensino de Didática: um estudo sobre concepções e práticas de professores formadores <br />
                            Giseli Barreto da Cruz e Marli André <br />
                            Educação em Revista <br />
                            Vol. 30, p.181-203, 2014. <br />
                            http://www.scielo.br/pdf/edur/v30n4/09.pdf <br /> <br />

                            O papel do professor formador e das práticas de Licenciaturas sob o olhar avaliativo dos
                            futuros professores <br />
                            Marli André, Patricia Albieira de Almeida, Beusa Ambrosetti, Giseli Barreto da Cruz, Marcia
                            Hobold e Laurizete Ferragut Passos <br />
                            Revista Portuguesa de Investigação Educacional <br />
                            Vol. 12, p.99-121, 2012. <br /> <br />

                            A produção do conhecimento didático na RBEP (1998-2010) <br />
                            Marli André e Giseli Barreto da Cruz <br />
                            Revista Brasileira de Estudos Pedagógicos <br />
                            Vol. 93, Nº 234, p. 443-462, 2012. <br />
                            http://rbep.inep.gov.br/index.php/RBEP/article/viewFile/2689/1832 <br /><br />

                            O ensino de Didática e o aprendizado da docência na visão de professores formadores <br />
                            Giseli Barreto da Cruz e Marli André <br />
                            Revista Diálogo Educacional <br />
                            Vol. 12, Nº 35, p. 77-92, jan./abr. 2012. <br />
                            http://www2.pucpr.br/reol/index.php/DIALOGO?dd1=281 <br /> <br />

                            Teoria e prática no curso de Pedagogia <br />
                            Giseli Barreto da Cruz <br />
                            Educação e Pesquisa <br />
                            Vol. 38, Nº 1, p. 149-164, São Paulo jan./mar. 2012. <br />
                            http://www.scielo.br/scielo.php?script=sci_issuetoc&pid=1517-970220120001&lng=en&nrm=iso
                            <br /> <br />

                            Contribuições ao debate sobre a pesquisa do professor da educação básica <br />
                            Menga Lüdke e Giseli Barreto da Cruz <br />
                            Revista Brasileira de Pesquisa sobre Formação de Professores <br />
                            Vol. 03, Nº 03, p. 86-107, ago./dez. 2010. <br />
                            http://formacaodocente.autenticaeditora.com.br/artigo/exibir/8/21/1 <br /> <br />

                            70 anos do curso de Pedagogia no Brasil: uma análise a partir da visão de dezessete
                            pedagogos primordiais <br />
                            Giseli Barreto da Cruz <br />
                            Educação & Sociedade <br />
                            Vol. 30, Nº 109, p. 1187-1205, Campinas set./dez. 2009.<br />
                            http://www.scielo.br/scielo.php?script=sci_issuetoc&pid=0101-733020090004&lng=pt&nrm=iso
                            <br /> <br />

                            A pesquisa do professor da educação básica em questão <br />
                            Menga Lüdke, Giseli Barreto da Cruz e Luis Alberto Boing <br />
                            Revista Brasileira de Educação <br />
                            Vol. 14, Nº 42, p. 456-468, Rio de Janeiro set./dez. 2009. <br />
                            http://www.scielo.br/scielo.php?script=sci_issuetoc&pid=1413-247820090003&lng=pt&nrm=iso
                            <br /> <br />

                            A prática docente no contexto da sala de aula frente às reformas curriculares <br />
                            Giseli Barreto da Cruz <br />
                            Educação e Revista <br />
                            Nº 29, p. 191-205, Curitiba, 2007. <br />
                            http://www.scielo.br/scielo.php?script=sci_issuetoc&pid=0104-406020070001&lng=pt&nrm=iso
                            <br /> <br />

                            Aproximando universidade e escola de educação básica pela pesquisa <br />
                            Menga Lüdke e Giseli Barreto da Cruz <br />
                            Cadernos de Pesquisa <br />
                            V. 35, Nº 125, p. 81-109, São Paulo maio/ago. 2005. <br />
                            http://www.scielo.br/scielo.php?script=sci_issuetoc&pid=0100-157420050002&lng=pt&nrm=iso
                            <br /> <br />



                        </p>
                        <p><strong>texto:</strong> texto
                        </p>
                    </section>

                    <section id="painel" class="tab-panel">
                        <section id="gallery" class="gallery section-bg">
                            <div class="container" data-aos="fade-up">

                                <div class="section-header">
                                    <h2>Imagens</h2>
                                    <p><span>nossa galeria</span></p>
                                </div>

                                <div class="gallery-slider swiper">
                                    <div class="swiper-wrapper align-items-center">

                                        <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery"
                                                href="../assets/img/gallery/gallery-2.jpg"><img
                                                    src="../assets/img/gallery/gallery-2.jpg" class="img-fluid"
                                                    alt=""></a></div>
                                        <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery"
                                                href="../assets/img/gallery/gallery-3.jpg"><img
                                                    src="../assets/img/gallery/gallery-3.jpg" class="img-fluid"
                                                    alt=""></a></div>
                                        <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery"
                                                href="../assets/img/gallery/gallery-4.jpg"><img
                                                    src="../assets/img/gallery/gallery-4.jpg" class="img-fluid"
                                                    alt=""></a></div>
                                        <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery"
                                                href="../assets/img/gallery/gallery-5.jpg"><img
                                                    src="../assets/img/gallery/gallery-5.jpg" class="img-fluid"
                                                    alt=""></a></div>
                                        <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery"
                                                href="../assets/img/gallery/gallery-6.jpg"><img
                                                    src="../assets/img/gallery/gallery-6.jpg" class="img-fluid"
                                                    alt=""></a></div>
                                        <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery"
                                                href="../assets/img/gallery/gallery-7.jpg"><img
                                                    src="../assets/img/gallery/gallery-7.jpg" class="img-fluid"
                                                    alt=""></a></div>
                                        <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery"
                                                href="../assets/img/gallery/gallery-8.jpg"><img
                                                    src="../assets/img/gallery/gallery-8.jpg" class="img-fluid"
                                                    alt=""></a></div>
                                    </div>
                                    <div class="swiper-pagination"></div>
                                </div>

                            </div>
                        </section>
                    </section>

                    <section id="contato" class="tab-panel">
                        <section id="contact" class="contact">
                            <div class="container" data-aos="fade-up">

                                <div class="section-header">
                                    <h1>Contato</h1>

                                </div>

                                <div class="mb-3">
                                    <iframe style="border:0; width: 100%; height: 350px;"
                                        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14695.770657127821!2d-43.1744735!3d-22.9523386!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x6817eb587a3627a9!2sUFRJ%20-%20Campus%20Praia%20Vermelha!5e0!3m2!1spt-BR!2sbr!4v1656298509370!5m2!1spt-BR!2sbr"
                                        frameborder="0" allowfullscreen></iframe>
                                </div><!-- End Google Maps -->

                                <div class="row gy-4">

                                    <div class="col-md-6">
                                        <div class="info-item  d-flex align-items-center">
                                            <i class="icon bi bi-map flex-shrink-0"></i>
                                            <div>
                                                <h3>Endereço</h3>
                                                <p>UFRJ Praia vermelha</p>
                                            </div>
                                        </div>
                                    </div><!-- End Info Item -->

                                    <div class="col-md-6">
                                        <div class="info-item d-flex align-items-center">
                                            <i class="icon bi bi-envelope flex-shrink-0"></i>
                                            <div>
                                                <h3>Email</h3>
                                                <p>geped.feufrj@gmail.com</p>
                                            </div>
                                        </div>
                                    </div><!-- End Info Item -->

                                    <div class="col-md-6">
                                        <div class="info-item  d-flex align-items-center">
                                            <i class="icon bi bi-telephone flex-shrink-0"></i>
                                            <div>
                                                <h3>Telefone</h3>
                                                <p>21 98562 3265</p>
                                            </div>
                                        </div>
                                    </div><!-- End Info Item -->

                                    <div class="col-md-6">
                                        <div class="info-item  d-flex align-items-center">
                                            <i class="icon bi bi-share flex-shrink-0"></i>
                                            <div>
                                                <h3>Horários</h3>
                                                <div><strong>Segunda-Sábado:</strong> 11AM - 23PM;
                                                    <strong>Domingo:</strong> Fechado
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- End Info Item -->

                                </div>

                                <form action="forms/contact.php" method="post" role="form"
                                    class="php-email-form p-3 p-md-4">
                                    <div class="row">
                                        <div class="col-xl-6 form-group">
                                            <input type="text" name="name" class="form-control" id="name"
                                                placeholder="Seu Nome" required>
                                        </div>
                                        <div class="col-xl-6 form-group">
                                            <input type="email" class="form-control" name="email" id="email"
                                                placeholder="Seu Email" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="subject" id="subject"
                                            placeholder="Assunto" required>
                                    </div>
                                    <div class="form-group">
                                        <textarea class="form-control" name="message" rows="5" placeholder="Mensagem"
                                            required></textarea>
                                    </div>
                                    <div class="my-3">
                                        <div class="loading">Loading</div>
                                        <div class="error-message"></div>
                                        <div class="sent-message">Mensagem enviada. Obrigado!</div>
                                    </div>
                                    <div class="text-center"><button type="submit">Enviar mensagem</button></div>
                                </form>
                                <!--End Contact Form -->

                            </div>
                        </section>
                    </section>

                </div>

            </div>
        </div>
    </section>




</div>