<div>
    <section id="hero" class="hero d-flex align-items-center section-bg" style="background-color: #fff;">
        <div class="container">
            <div class="row justify-content-between gy-5">
                <div
                    class="col-lg-7 order-2 order-lg-1 d-flex flex-column justify-content-center align-items-center align-items-lg-start text-center text-lg-start">
                    <h2 data-aos="fade-up"> GEPED - Grupo de Estudos e Pesquisas em Didática e Formação de Professores
                    </h2>
                    <p data-aos="fade-up" data-aos-delay="100">

                        Grupo cadastrado no CNPq
                        <br>
                    </p>

                    <div class="chef-member">
                        <div class="member-img">
                            <img src="../assets/img/grupos pesquisa/g2.jpg" class="img-fluid" alt="">

                        </div>
                        <div class="member-info">
                            <h4><strong>Coordenadora:</strong>Profª Drª Giseli Barreto da Cruz</h4>
                            <p> <a href="mailto:giselicruz@ufrj.br">giselicruz@ufrj.br</a> <br />
                                <a target="_blank" href="http://lattes.cnpq.br/5755499489661099">Lattes</a><br />

                            </p>
                        </div>
                    </div>


                    <div class="d-flex" data-aos="fade-up" data-aos-delay="200">
                        <div class="social-icons">
                            <a class="social-icon social-icon--facebook">
                                <i class="fa-brands fa-facebook"></i>
                                <div class="tooltip">Facebook</div>
                            </a>
                            <a class="social-icon social-icon--youtube">
                                <i class="fa-brands fa-youtube"></i>
                                <div class="tooltip">Youtube</div>
                            </a>
                            <a href="https://www.instagram.com/geped.ufrj/?hl=pt" target="_blank"
                                class="social-icon social-icon--instagram">
                                <i class="fa-brands fa-instagram"></i>
                                <div class="tooltip">Instagram</div>
                            </a>
                            <a class="social-icon social-icon--twitter">
                                <i class="fa-brands fa-twitter"></i>
                                <div class="tooltip">Twitter</div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 order-1 order-lg-2 text-center text-lg-start">
                    <img src="../assets/img/grupos pesquisa/g1.jpg" class="img-fluid" alt="" data-aos="zoom-out"
                        data-aos-delay="300">
                </div>
            </div>
        </div>
    </section>
    <section id="chefs" style="padding: 40px 0;" class="">
        <div class="container">
            <div class="tabset">

                <input type="radio" name="tabset" id="tab1" aria-controls="quemSomos" checked>
                <label for="tab1">Quem Somos?</label>

                <input type="radio" name="tabset" id="tab2" aria-controls="projetos">
                <label for="tab2">Pesquisas</label>


                <input type="radio" name="tabset" id="tab3" aria-controls="ensino">
                <label for="tab3">Ensino</label>

                <input type="radio" name="tabset" id="tab4" aria-controls="extensao">
                <label for="tab4">Extensão</label>

                <input type="radio" name="tabset" id="tab5" aria-controls="pibid">
                <label for="tab5">PIBID</label>

                <input type="radio" name="tabset" id="tab6" aria-controls="publicacoes">
                <label for="tab6">Publicações</label>

                <input type="radio" name="tabset" id="tab7" aria-controls="painel">
                <label for="tab7">Painel de Fotos e Vídeos</label>

                <input type="radio" name="tabset" id="tab8" aria-controls="contato">
                <label for="tab8">Contato</label>

                <div class="tab-panels">

                    <section id="quemSomos" class="tab-panel">
                        <h2>Quem Somos?</h2>
                        <p style="text-align: justify;">
                            O GEPED dedica-se a estudos e pesquisas que têm como foco Pedagogia, Didática,
                            Formação e Trabalho de Professores. Trata-se de um grupo que reúne professores
                            universitários, doutorandos, mestrandos, graduandos, professores e gestores da escola
                            básica.
                            <br>
                            No âmbito das discussões e pesquisas realizadas atualmente coloca-se como questão central
                            o que prevalece como Didática na formação de professores?
                            <br>
                            Que concepções e práticas didáticas integram a base de conhecimento profissional docente?
                            <br>
                            Propõe um programa integrado de pesquisas, formado de três grandes estudos investigativos:
                            <br>
                            o primeiro estudo sobre concepções e práticas didáticas de formadores de professores(2009-
                            2012); o segundo sobre a Didática e o aprendizado da docência no processo de constituição
                            identitária de futuros professores (2012-2015); e o terceiro sobre concepções e práticas
                            didáticas de egressos de cursos de licenciatura (2015-2018). O que se compreende sobre
                            Didática e o que se faz com ela representa o norte das pesquisas, a partir da visão de
                            professores dos cursos de licenciatura (primeiro estudo); de estudantes concluintes de
                            cursos
                            de licenciatura (segundo estudo); e de professores da educação básica (terceiro estudo).
                            <br>
                            Além desse Programa, desenvolve estudos sobre o trabalho docente na contemporaneidade
                            e sobre o PIBID – Programa Institucional de Bolsas de Iniciação à Docência, da CAPES.



                        </p>

                    </section>

                    <section id="projetos" class="tab-panel">
                        <h2>Pesquisas em andamento</h2>
                        <p style="text-align: justify;"><strong> - Concepções e práticas didáticas de egressos de cursos
                                de licenciatura</strong>
                            <br />
                            <br />

                            Nesta pesquisa propõe-se investigar como professores de escola pública da educação básica
                            avaliam a sua formação em Didática. Que concepções e práticas didáticas definem o ensino
                            que realizam? O grupo de participantes será formando por 14 egressos dos 14 cursos de
                            licenciatura da UFRJ investigados na pesquisa anterior. Pretende-se localizar um egresso
                            de cada curso que finalizou sua formação inicial em até três anos (2013-2015) e que
                            ingressou
                            em uma rede pública de ensino municipal, estadual ou federal, localizada no Estado do Rio
                            de Janeiro, também no período de até três anos (2013-2015). A configuração do grupo de
                            sujeitos se justifica mediante os objetivos do estudo que consistem em: analisar a
                            contribuição
                            da formação em Didática para a docência de professores em início de carreira; mapear e
                            categorizar concepções e práticas didáticas que balizam o ensino desses professores.
                            Teoricamente, o estudo se fundamentará em três ideias chave: i- o ensino, objeto da
                            Didática,
                            enquanto especificidade profissional docente (ROLDÃO, 2007; 2005); ii- a Didática e a base
                            de conhecimento profissional docente (SHULMAN, 1987); iii- perspectivas de aprendizado da
                            docência (COCHRAN-SMITH, 2012; 2003; 1999; 1991). Metodologicamente, optou-se pela
                            realização de entrevistas com todos os sujeitos, observação de um conjunto de dez aulas de
                            parte dos participantes e análise de registro escrito de casos de ensino obtidos durante as
                            observações. A definição dos professores, cujas aulas serão observadas, considerará os
                            critérios de aceitação (autorização), viabilidade institucional (permissão), localização da
                            escola (mobilidade da pesquisadora), tempo (exequibilidade da pesquisa) e representação
                            das diferentes etapas de ensino da educação básica (Educação Infantil, Ensino Fundamental
                            e Ensino Médio). Pretende-se com a realização deste estudo contribuir para o conhecimento
                            do que prevalece como Didática na base de conhecimento profissional docente acessada nos
                            primeiros anos de magistério, de modo a fornecer elementos tanto para a revisão dos
                            currículos dos cursos de licenciatura, quanto para os programas de formação continuada
                            de professores. <br /> <br />

                            <strong>Financiamento</strong> <br /> <br />

                            <strong>Participantes</strong> <br /> <br />
                            Giseli Barreto da Cruz (Coordenadora)<br />
                            Bernardo Puga Nuñez Lopes (Mestrando PPGE/UFRJ)<br />
                            Cecília Silvano (Mestranda PPGE/UFRJ)<br />
                            Cristina Lucia Lima Alves (Bolsista IC-FAPERJ)<br />
                            Elana Costa (Mestre em Educação PPGE/UFRJ e Gestora da R. M. de Ensino de Niterói)<br />
                            Érika Mesquita (Bolsista PIBIC-CNPq)<br />
                            Fernanda Lahtermaher Oliveira (Mestranda PPGE/UFRJ)<br />
                            Giselle Firmo Borisff Brum (Graduanda em Pedagogia/UFRJ)<br />
                            Jessica de Souza Valentim (Mestranda PPGE/UFRJ)<br />
                            Jules Marcel de Oliveira (Mestrando PPGE/UFRJ)<br />
                            Luis Paulo da Cruz Borges (Doutorando em Educação/UERJ)<br />
                            Pedro Henrique Zubcich Caiado de Castro (Mestre em Educação Física – UFRJ)<br />
                            Priscila Andrade Magalhães (Professora FE/UFRJ)<br />
                            Priscila Gonçalves da Cruz (Professora da R. M.de Ensino do Rio de Janeiro)<br />
                            Renata Corrêa Gomes (Graduanda em Pedagogia/UFRJ)<br />
                            Rosineire Silva de Almeida (Mestranda PPGE/UFRJ)<br />
                            Sabryna Raychtock (Mestranda PPGE/UFRJ)<br />
                            Talita da Silva Campelo (Doutoranda PPGE/UFRJ)<br />
                            Vanessa Vieira Arruda (Professora da R. M. de Ensino do Rio de Janeiro)
                            <br /><br />

                        </p>
                        <p style="text-align: justify;"><strong>- O trabalho docente na contemporaneidade: articulação
                                entre discursos e
                                práticas</strong> <br /> <br />

                            Este projeto tem como objeto de estudo o trabalho docente na contemporaneidade, no contexto
                            das transformações políticas, econômicas, sociais e culturais que complexificam e criam
                            novas demandas para o exercício da docência. Neste âmbito têm emergido perspectivas nem
                            sempre convergentes, que oscilam entre a defesa da necessidade de repensar e reinventar a
                            formação de professores no sentido de abarcar a pluralidade e singularidade do trabalho
                            docente em diferentes contextos escolares e não escolares e a tendência para a padronização
                            e burocratização da formação e do exercício da profissão. A proposta de pesquisa que
                            apresentamos assume a necessidade de uma análise das implicações dessas transformações,
                            ambiguidades e contradições nos discursos dos docentes sobre a natureza do seu trabalho e
                            sobre as suas práticas, com o objetivo de desenvolver uma tipologia de concepções dos
                            professores sobre o trabalho docente, que seja suficientemente robusta e plástica para
                            preservar a pluralidade e singularidade das concepções e experiências docentes existentes, e
                            realizar um programa de investigação-formação, de cunho multidisciplinar, com professores
                            sobre a docência e o ensino. O projeto permitirá definir um conjunto de recomendações para a
                            formação de professores e contribuir para a sistematização de experiências educativas
                            contemporâneas. <br /> <br />

                            <strong>Financiamento</strong> <br /> <br />

                            <strong>Participantes</strong> <br /> <br />
                            Giseli Barreto da Cruz (Coordenadora)<br />
                            Teresa Nico Rego Gonçalves (Coordenadora)<br />
                            Ana Teresa de Carvalho Correa de Oliveira<br />
                            Maria das Graças Chagas de Arruda Nascimento<br />
                            Monique Andries Nogueira<br />
                            Priscila Andrade Magalhaes<br /><br />

                        </p>

                        <p style="text-align: justify;"><strong>- Inserção profissional de egressos de Programas de
                                Iniciação à Docência</strong>
                            <br /> <br />


                            Nesta pesquisa propõe-se investigar como egressos de programas de iniciação à docência estão
                            vivenciando sua inserção profissional no magistério. Os programas de onde provêm os egressos
                            são: o PIBID (Programa Institucional de Bolsa de Iniciação a Docência), de âmbito federal, o
                            Bolsa Alfabetização, do governo estadual de São Paulo e o Programa de Residência Pedagógica
                            da Universidade Federal de São Paulo, em convênio com a secretaria municipal de Guarulhos,
                            SP. Como a temática dos professores iniciantes é muito pouco explorada nas pesquisas da área
                            de educação e ainda não é objeto das políticas públicas no Brasil, espera-se contribuir para
                            o conhecimento dos elementos facilitadores e dificultadores dos primeiros anos de
                            magistério, de modo a fornecer elementos tanto para a revisão dos currículos dos cursos de
                            formação inicial, quanto para os gestores das escolas comprometidos com um ambiente propício
                            ao ensino e aprendizagem dos alunos, assim como para os gestores de políticas públicas. Na
                            abordagem metodológica optou-se pela conjugação de um survey, para mapear a situação
                            profissional dos egressos, e estudos de caso para aprofundar aspectos da inserção
                            profissional. A coleta de dados será realizada em quatro fases: a) consulta eletrônica sobre
                            a situação profissional dos egressos, estimando-se um total de 200-300; b) estudos de caso
                            de escolas (uma por estado, no total serão sete) que receberam os egressos, recorrendo-se a
                            observações, entrevistas com os egressos e com os gestores, coleta de documentos da escola;
                            c) grupos de discussão com egressos de diferentes cidades (no total 10) de origem dos
                            participantes do grupo de pesquisa; d) acompanhamento longitudinal de seis egressos em dois
                            momentos ao longo de dois anos, para estudar o movimento da inserção profissional, quando se
                            solicitará o registro escrito de casos de ensino. No campo teórico, espera-se contribuir
                            para ampliar a compreensão dos processos de socialização e de desenvolvimento profissional
                            dos iniciantes. <br /> <br />

                            <strong>Financiamento: </strong>CNPq <br /> <br />

                            <strong>Participantes</strong> <br /> <br />
                            Marli André PUC-SP (Coordenadora)<br />
                            Giseli Barreto da Cruz - UFRJ<br />
                            Laurizete Ferragut Passos - PUC/SP<br />
                            Magali Silvestre - UNIFESP<br />
                            Marcia Hobold - UNIVILE<br />
                            Maria das Graças Chagas de Arruda Nascimento – UFRJ<br />
                            Maria Joselma Franco - UFPE<br />
                            Neusa Banhara Ambrosetti - UNITAU<br />
                            Patricia Albieri de Almeida – FCC<br /><br />
                        </p>
                        <h2>Pesquisas finalizadas</h2>
                        <p style="text-align: justify;"><strong>- Concepções e práticas didáticas de formadores de
                                professores</strong>
                            <br /> <br />
                            A pesquisa focalizou o que prevalece como Didática nos cursos de formação de professores, na
                            perspectiva do formador. Tratou de investigar professores de Didáticas de cursos de
                            licenciatura de três Universidades do Estado do Rio de Janeiro, no intuito de saber sobre
                            quem são os formadores, o que ensinam e como ensinam Didática, para atender aos objetivos de
                            analisar concepções e práticas que fundamentam a Didática em cursos de licenciatura e
                            reconhecer os significados atribuídos pelo formador sobre o seu ensino para o conhecimento
                            profissional do professor em formação. O estudo fundamentou-se nas ideias de Gauthier
                            (1998), Roldão (2007), Cochran-Smith & Lytle (1999), André et al (2010) e Zeichner (2009)
                            para discutir o ensino e os desafios que marcam o aprendizado da docência na parcela de
                            formação que ocorre no âmbito da universidade. A partir da análise de depoimentos colhidos
                            através da realização de entrevistas semiestruturadas conjugadas com observação de aulas e
                            com a realização de grupos de discussão compostos de até dez professores de cada
                            universidade, discutiu a concepção didática dos formadores, atendo-se na compreensão que
                            apresentam sobre o campo didático e na prática didática que desenvolvem durante o ensino
                            dessa disciplina. <br /> <br />

                            <strong>Período: </strong>2009 a 2012 <br /> <br />

                            <strong>Financiamento: </strong> CNPq e FAPERJ<br /> <br />

                            <strong>Participantes </strong> <br /> <br />

                            Danubia Souza Marques da Silva (Bolsista IC/FAPERJ)<br />
                            Diogo Muniz Cordeiro de Almeida<br />
                            Gabriela Loureiro D’Ávila (Bolsista IC/FAPERJ)<br />
                            Jules Marcel de Oliveira (Bolsista PIBEX/UFRJ)<br />
                            Luis Paulo Cruz Borges (Mestre em Educação FFP/UERJ)<br />
                            Priscila Gonçalves Cruz (Monitora)<br />
                            Rosineire Silva de Almeida (Bolsista PIBIC/UFRJ)<br /><br />

                        </p>

                        <p style="text-align: justify;"><strong>- A Didática e o aprendizado da docência no processo de
                                constituição profissional de
                                futuros professores</strong>
                            <br /> <br />
                            O objeto investigativo residiu na problemática em torno do que prevalece como Didática nos
                            cursos de formação de professores e seus efeitos para o processo de constituição
                            profissional de futuros professores. Para tanto, a pesquisa buscou analisar conhecimentos
                            sobre a docência construídos através do estudo de Didática por futuros professores,
                            concluintes de cursos de licenciatura, assim como as consequências da disciplina Didática
                            para o processo de constituição dos saberes profissionais docentes, mais detidamente no que
                            se refere ao que faz o professor formador, em Didática, para ensinar a docência. Tratou-se,
                            pois, de problematizar a formação em Didática de professores na perspectiva dos alunos dos
                            cursos de licenciatura investigados e confrontar os dados obtidos na etapa anterior,
                            centrada no professor formador, com esta etapa, voltada para o licenciando, futuro
                            professor. O estudo fundamenta-se nas ideias de Roldão (2007; 2005), Shulman (1986; 1987;
                            2004), Gauthier (1998) e Cochran-Smith & Lytle (1999), para discutir o ensino e os desafios
                            que marcam o aprendizado da docência na parcela de formação que ocorre no âmbito da
                            universidade. Para a obtenção dos dados que subsidiaram as análises propostas, recorreremos
                            à aplicação de questionário entre os alunos de Didáticas de 14 cursos de licenciatura de uma
                            das Universidades investigadas na pesquisa anterior, assim como realizamos quatro grupos de
                            discussão.
                            <br /> <br />
                            <strong>Período: </strong>2012 a 2015 <br /> <br />

                            <strong>Financiamento: </strong>FAPERJ<br /> <br />

                            <strong>Participantes </strong> <br /> <br />

                            Cecília Silvano (Mestranda PPGE/UFRJ)<br />
                            Cristina Lucia Lima Alves (Bolsista PIBIC-CNPq)<br />
                            Darlene Francisco de Brito Cruz (Pedagoga – TAE/UFRJ)<br />
                            Debora Oliveira de Almeida Moreira (Licenciada em Letras – UFRJ)<br />
                            Fernanda de Souza Félix (Pedagoga – UERJ)<br />
                            Fernanda Lahtermaher Oliveira (Graduanda em Pedagogia/UFRJ)<br />
                            Giselle Firmo Borisff Brum (Graduanda em Pedagogia/UFRJ)<br />
                            Jessica de Souza Valentim (Mestranda PPGE/UFRJ)<br />
                            Jules Marcel de Oliveira (Mestrando PPGE/UFRJ)<br />
                            Pedro Henrique Zubcich Caiado de Castro (Mestre em Educação Física – UFRJ)<br />
                            Rosineire Silva de Almeida (Mestranda PPGE/UFRJ)<br />
                            Sabryna Raychtock (Mestranda PPGE/UFRJ)<br />
                            Talita da Silva Campelo (Mestranda PPGE/UFRJ)<br />
                            Tatiana Pinheiro de Oliveira (Mestranda PPGE/UFRJ)<br /><br />

                        </p>
                    </section>

                    <section id="ensino" class="tab-panel">
                        <h2>Ensino</h2>
                        <p style="text-align: justify;"><strong>Ensino na graduação</strong> <br /> <br />
                            Didática (EDD 241) nos cursos de Licenciatura da FE/UFRJ </p><br /> <br />

                        <p style="text-align: justify;"><strong>Ensino na Pós-Graduação (Mestrado e Doutorado)</strong>
                            <br /> <br />

                            <strong> 2013/2:</strong> Seminário de Dissertação<br />
                            <strong>2014/1: </strong>Docência no Ensino Superior // Prática de Pesquisa<br />
                            <strong>2014/2: </strong>Prática de Pesquisa<br />
                            <strong>2015/1: </strong>Docência e Formação // Prática de Pesquisa<br />
                            <strong>2015/2: </strong>Prática de Pesquisa<br />
                            <strong>2016/1: </strong>Formação de Professores: trajetórias e perspectivas // Prática de
                            Pesquisa<br /><br />
                        </p>
                    </section>

                    <section id="extensao" class="tab-panel">
                        <h2>Extensão</h2>
                        <p style="text-align: justify;"><strong>Projeto Conversas com/sobre Pedagogos</strong> <br />
                            <br />
                            O Projeto de Extensão “CONVERSAS COM/SOBRE PEDAGOGOS” buscou instituir um movimento de
                            caráter formador e propositivo, de abrangência estadual e de periodicidade bimestral,
                            destinado aos profissionais pedagogos, àqueles que atuam como formadores e aos estudantes
                            dos cursos de Pedagogia. Intencionou ser um espaço para debates sobre temas convergentes à
                            identidade, especificidade, materialidade e ação do pedagogo, assumindo como norte a sua
                            dimensão como profissional mediador da formação humana, de modo intencional e sistemático,
                            no contexto escolar e não escolar. O projeto adotou como eixos articuladores do debate, as
                            políticas educacionais, a formação profissional e a organização e gestão do trabalho
                            pedagógico. </p>
                        <br />
                        <p style="text-align: justify;"><strong>Coordenadoras</strong> <br /> <br />
                            Giseli Barreto da Cruz<br />
                            Maria das Graças Chagas de Arruda Nascimento<br />
                        </p>
                        <p><strong>Período: </strong>2010-2013 </p><br /> <br />
                    </section>

                    <section id="pibid" class="tab-panel">
                        <h2>PIBID</h2> <br /> <br />
                        <p style="text-align: justify;"><strong>Pibid UFRJ Pedagogia – Programa Institucional de Bolsas
                                de Iniciação à
                                Docência</strong> <br /> <br />
                            O Projeto PIBID UFRJ Pedagogia pretende favorecer aos seus bolsistas a construção e o
                            desenvolvimento de saberes docentes através de práticas compartilhadas sobre o processo
                            ensino aprendizagem e de parcerias na produção de recursos, materiais e estratégias de
                            ensino de apoio ao conhecimento escolar da Escola Básica. As atividades do Projeto são
                            realizadas com o propósito de propiciar a:<br />
                            • Percepção, pelos alunos bolsistas e pelos professores da escola parceira, da
                            indissociabilidade entre teoria e prática e da necessidade da articulação entre formação
                            inicial e formação continuada para o desenvolvimento profissional docente;<br />
                            • Afirmação da parceria entre Universidade e Escola Básica, especialmente a Pública;<br />
                            • Afirmação da Escola Básica como co-partícipe do processo de formação inicial de
                            professores;<br />
                            • Melhoria da qualidade do ensino na escola parceira.<br />

                            De agosto de 2012 a dezembro de 2013, o PIBID UFRJ PEDAGOGIA atuou em uma turma do 1º ano do
                            Ensino Fundamental do CAp da UFRJ. Participaram dessa etapa os seguintes
                            bolsistas:<br /><br />
                            Giseli Barreto da Cruz (Profª Coord. Área)<br />
                            Simone de Alencastre Rodrigues (Profª Sup. Escola)<br />
                            Fernanda Lahtermaher Oliveira<br />
                            Giselle Firmo Borisff Brum<br />
                            Josué de Melo Marinheiro<br />
                            Nataliane Dantas Soares<br />
                            Thamires Pessoa de Souza Santana<br />

                            Em 2014 o projeto foi ampliado, passando a atuar em duas grandes direções:<br />

                            1) Educação Infantil, sob a coordenação da Professora Daniela de Oliveira Guimarães, com 13
                            bolsistas, três professores supervisores e inserção na Escola de Educação Infantil da UFRJ e
                            no Colégio Pedro II.<br />
                            2) Ensino fundamental – Anos Iniciais, com ênfase na Alfabetização, sob a coordenação da
                            Professora Giseli Barreto da Cruz com 13 bolsistas, duas professoras supervisoras e inserção
                            no CAp da UFRJ (2014-2015), no colégio Pedro II (2014) e na Escola Municipal Santo Tomás de
                            Aquino (2015)<br />

                            A subárea pedagogia: Educação Infantil, sob a coordenação da professora Daniela de Oliveira
                            Guimarães, filia-se ao LEDUC – Laboratório de Estudos de Linguagem, Leitura, Escrita e
                            Educação.<br />

                            A subárea Pedagogia: Anos Iniciais do Ensino Fundamental, sob a coordenação da professora
                            Giseli Barreto da Cruz, filia-se ao LEPED – Laboratório de Estudos e Pesquisas em Didática e
                            Formação de Professores, contando com o seguinte quadro de participantes:<br /><br />

                            <strong>2014</strong><br /><br />
                            Giseli Barreto da Cruz (Profª Coord. Área) <br />
                            Glória de Melo Tonácio (Profª Sup. Colégio Pedro II) <br />
                            Viviane Lontra Teixeira (Profª Sup. CAp UFRJ)<br />
                            Amanda Ellen<br />
                            Silva de Brito <br />
                            Ana Caroline Ferraz Borreti <br />
                            Ana Lucia Amorim de Castro <br />
                            Ariana dos Santos Neves Ferreira <br />
                            Erika Santos Wergles de Carvalho <br />
                            Fabio Astur Aboulafia (até junho de 2014) <br />
                            Fernanda Lahtermaher Oliveira (até setembro de 2014)<br />
                            Giselle Firmo Borisff Brum<br />
                            Laissa Marinho Pereira de Souza<br />
                            Leonardo Silva de Lima <br />
                            Nathalia de Andrade Mendes<br />
                            Nataliane Dantas Soares <br />
                            Rebecca de Araújo Fernandez <br />
                            Sonia Veprinsky Mehl (a partir de julho de 2014) <br />
                            Thaís Cristine de Oliveira Santos (a partir de setembro de 2014)<br />
                            <br />
                            <strong>2015</strong><br /><br />
                            Giseli Barreto da Cruz (Profª Coord. Área)<br />
                            Lúcia Helena Gazólis de Oliveira (Profª Sup. CAp UFRJ)<br />
                            Andreza do Rozário Patusco (Profª Sup. E.M.Santo Tomás de Aquino/RJ)<br />
                            Amanda Ellen Silva de Brito<br />
                            Ana Caroline Ferraz Borreti<br />
                            Ana Lucia Amorim de Castro<br />
                            Ariana dos Santos Neves Ferreira<br />
                            Erika Santos Wergles de Carvalho<br />
                            Fernanda Lahtermaher Oliveira (a partir de abril de 2015)<br />
                            Giselle Firmo Borisff Brum (até março de 2015)<br />
                            Laissa Marinho Pereira de Souza<br />
                            Leonardo Silva de Lima (até junho de 2015)<br />
                            Maria Cleani Silva da Costa (a partir de julho de 2015)<br />
                            Nathalia de Andrade Mendes<br />
                            Nataliane Dantas Soares<br />
                            Rebecca de Araújo Fernandez<br />
                            Sonia Veprinsky Mehl<br />
                            Thaís Cristine de Oliveira Santos<br /><br />
                        </p><br /> <br />

                        <p><strong>Financiamento: </strong> CAPES<br /> <br />

                        </p>
                    </section>


                    <section id="publicacoes" class="tab-panel">
                        <h2>Publicações (a partir de 2009)</h2>
                        <p style="text-align: justify;"><strong>Artigos em Periódicos:</strong> <br /> <br />
                            La pedagogie em question <br />
                            Giseli Barreto da Cruz e Menga Lüdke <br />
                            Penser l’Edication (Mont-Saint-Aignan) <br />
                            Vol. 34, p.7-26, 2014. <br /> <br />

                            A Didática de professores referenciais e suas contribuições para a formação docente
                            <br />
                            Giseli Barreto da Cruz e Jules Marcel <br />
                            Estudos em Avaliação Educacional (FCC) <br />
                            Vol. 25, p.56-82, 2014. <br />
                            http://publicacoes.fcc.org.br/ojs/index.php/eae/article/view/2824/2697 <br /><br />

                            A formação do pedagogo docente no curso de Pedagogia <br />
                            Giseli Barreto da Cruz e Armando Arosa <br />
                            Educação e Cultura Contemporânea <br />
                            Vol. 11, p.30-68, 2014. <br />
                            http://periodicos.estacio.br/index.php/reeduc/article/view/1124/540 <br /><br />

                            Ensino de Didática: um estudo sobre concepções e práticas de professores formadores
                            <br />
                            Giseli Barreto da Cruz e Marli André <br />
                            Educação em Revista <br />
                            Vol. 30, p.181-203, 2014. <br />
                            http://www.scielo.br/pdf/edur/v30n4/09.pdf <br /> <br />

                            O papel do professor formador e das práticas de Licenciaturas sob o olhar avaliativo dos
                            futuros professores <br />
                            Marli André, Patricia Albieira de Almeida, Beusa Ambrosetti, Giseli Barreto da Cruz,
                            Marcia
                            Hobold e Laurizete Ferragut Passos <br />
                            Revista Portuguesa de Investigação Educacional <br />
                            Vol. 12, p.99-121, 2012. <br /> <br />

                            A produção do conhecimento didático na RBEP (1998-2010) <br />
                            Marli André e Giseli Barreto da Cruz <br />
                            Revista Brasileira de Estudos Pedagógicos <br />
                            Vol. 93, Nº 234, p. 443-462, 2012. <br />
                            http://rbep.inep.gov.br/index.php/RBEP/article/viewFile/2689/1832 <br /><br />

                            O ensino de Didática e o aprendizado da docência na visão de professores formadores
                            <br />
                            Giseli Barreto da Cruz e Marli André <br />
                            Revista Diálogo Educacional <br />
                            Vol. 12, Nº 35, p. 77-92, jan./abr. 2012. <br />
                            http://www2.pucpr.br/reol/index.php/DIALOGO?dd1=281 <br /> <br />

                            Teoria e prática no curso de Pedagogia <br />
                            Giseli Barreto da Cruz <br />
                            Educação e Pesquisa <br />
                            Vol. 38, Nº 1, p. 149-164, São Paulo jan./mar. 2012. <br />
                            http://www.scielo.br/scielo.php?script=sci_issuetoc&pid=1517-970220120001&lng=en&nrm=iso
                            <br /> <br />

                            Contribuições ao debate sobre a pesquisa do professor da educação básica <br />
                            Menga Lüdke e Giseli Barreto da Cruz <br />
                            Revista Brasileira de Pesquisa sobre Formação de Professores <br />
                            Vol. 03, Nº 03, p. 86-107, ago./dez. 2010. <br />
                            http://formacaodocente.autenticaeditora.com.br/artigo/exibir/8/21/1 <br /> <br />

                            70 anos do curso de Pedagogia no Brasil: uma análise a partir da visão de dezessete
                            pedagogos primordiais <br />
                            Giseli Barreto da Cruz <br />
                            Educação & Sociedade <br />
                            Vol. 30, Nº 109, p. 1187-1205, Campinas set./dez. 2009.<br />
                            http://www.scielo.br/scielo.php?script=sci_issuetoc&pid=0101-733020090004&lng=pt&nrm=iso
                            <br /> <br />

                            A pesquisa do professor da educação básica em questão <br />
                            Menga Lüdke, Giseli Barreto da Cruz e Luis Alberto Boing <br />
                            Revista Brasileira de Educação <br />
                            Vol. 14, Nº 42, p. 456-468, Rio de Janeiro set./dez. 2009. <br />
                            http://www.scielo.br/scielo.php?script=sci_issuetoc&pid=1413-247820090003&lng=pt&nrm=iso
                            <br /> <br />

                            A prática docente no contexto da sala de aula frente às reformas curriculares <br />
                            Giseli Barreto da Cruz <br />
                            Educação e Revista <br />
                            Nº 29, p. 191-205, Curitiba, 2007. <br />
                            http://www.scielo.br/scielo.php?script=sci_issuetoc&pid=0104-406020070001&lng=pt&nrm=iso
                            <br /> <br />

                            Aproximando universidade e escola de educação básica pela pesquisa <br />
                            Menga Lüdke e Giseli Barreto da Cruz <br />
                            Cadernos de Pesquisa <br />
                            V. 35, Nº 125, p. 81-109, São Paulo maio/ago. 2005. <br />
                            http://www.scielo.br/scielo.php?script=sci_issuetoc&pid=0100-157420050002&lng=pt&nrm=iso
                            <br /> <br />
                        </p>
                        <p style="text-align: justify;"><strong>Livros publicados/organizados ou edições</strong> <br />
                            <br />

                            CRUZ, G. B. da; OLIVEIRA, A. T. C. C.; NASCIMENTO, M. G. C. A.; NOGUEIRA, M. A. <br />
                            Ensino de Didática: entre recorrentes e urgentes questões. Rio de Janeiro:
                            Quartet/Faperj,
                            2014. <br /> <br />

                            CRUZ, G. B. da. Curso de Pedagogia no Brasil: História e Formação com Pedagogos
                            Primordiais.
                            <br />
                            1ª ed. Rio de Janeiro: WAK, 2011. v. 1. 220p. <br /> <br />

                            LÜDKE, M.; OLIVEIRA, A. T. C. C. de; CRUZ, G. B. da; BOING, L. A.; SCHAFFEL, S. L. O que
                            conta como pesquisa?. <br />
                            1ª. ed. São Paulo: Cortez, 2009. v. 1. <br /> <br />

                            CRUZ, G. B. da (Org.). Ciclos em Debate. 1ª ed. Niterói: Intertexto, 2008. v. 1. 104p.
                            <br /> <br />

                            CRUZ, G. B. da (Org.); MARTIN, L. (Org.). Saberes Docentes em Construção. Niterói:
                            Intertexto, 2007. v. 1. 182p. <br /> <br />

                        </p>

                        <p style="text-align: justify;"><strong>Capítulos de livros publicados</strong> <br /> <br />

                            CRUZ, G. B. da; BORGES, L. P. da C. O ensino de Didática em cursos de licenciatura na
                            perspectiva do formador. <br />
                            In: Alda Marin; Selma Garrido Pimenta. (Orgs.). Didática: teoria e pesquisa. Araraquara,
                            2015, v. 1, p. 155-169. <br /><br />

                            CRUZ, G. B. da; MARCEL, J. A prática de professores formadores referenciais na visão de
                            seus
                            alunos. <br />
                            In: Maria do Socorre Lucena Lima; Maria Marina Dias Cavalcante; José Albio Moreira de
                            Sales;
                            Isabel Maria Sabino de Freitas. (Orgs.). <br />
                            Didática e prática de ensino na relação com a escola. 1ed. Fortaleza: EDUECE, 2015, v.
                            1, p.
                            526-538. <br /><br />

                            OLIVEIRA, A. T. de C. C. de; CRUZ, G. B. da; NASCIMENTO, M. G. C. A ; NOGUEIRA, M. A.
                            <br />
                            Didática e formação de professores: contribuições do LEPED - Laboratório de Estudos e
                            Pesquisas em Didática e Formação de Professores. <br />
                            In: Giseli Barreto da Cruz; Ana Teresa de Carvalho Correa de Oliveira; Maria das Graças
                            Chagas de Arruda Nascimento; Monique Andries Nogueira. (Orgs.). <br />
                            Ensino de Didática: entre recorrentes e urgentes questões. 1ed. Rio de Janeiro: Quartet,
                            2014, v. 1, p. 23-43. <br /><br />

                            CRUZ, G. B. da; SILVA, D. S. M.; DAVILA, G. L.; MARCEL, J.; BORGES, L. P. C.; CRUZ, P.
                            G.;ALMEIDA, R. S. de. <br />
                            Concepções e práticas didáticas de professores formadores. <br />
                            In: Giseli Barreto da Cruz; Ana Teresa de Carvalho Correa de Oliveira; Maria das Graças
                            Chagas de
                            Arruda Nascimento; Monique Andries Nogueira. (Orgs.). <br />
                            Ensino de Didática: entre recorrentes e urgentes questões. 1ed. Rio de Janeiro: Quartet,
                            2014, v. 1, p. 45-76. <br /><br />

                            CRUZ, G. B. da; ANDRÉ, M. E. D. A. A produção do conhecimento didático e a formação de
                            professores no Brasil. <br />
                            In: Maria Rita N. S. Oliveira; José Augusto Pacheco. (Orgs.). <br />
                            Currículo, Didática e Formação de Professores. 1ªed. Campinas: Papirus, 2013, v. 1, p.
                            167-191. <br /><br />

                            LÜDKE, M.; CRUZ, G. B. da. Grupos de pesquisa e formação de pesquisadores. <br />
                            In: LONGAREZI, A. M.; BARAÚNA, S. M.; GUIMARÃES, I. V. (Org.). <br />
                            Pesquisas educacionais: formação e prática. 1ª ed. Campinas: Alínea, 2012, v.1, p.
                            25-45.
                            <br /><br />

                            CRUZ, G. B. da; CABRAL, R. P.; DASSIE, S. N.; GOMES, E. P.; GONCALVES, C. C. A. R.;
                            MORAES,
                            K. S. P. F.; SILVA, A. B. <br />
                            Perspectivas do planejamento para uma escola em ciclos. <br />
                            In: FETZNER, A. R. (Org.). Ciclos em Revista 5: Gestão Escolar e Ciclos: Políticas e
                            Práticas. <br />
                            Rio de Janeiro: WAK Editora, 2010, v. 5, p. 87-101. <br /> <br />

                            CRUZ, G. B. da; ABREU, K. F. S. de. Movimento de educadores no processo de elaboração de
                            uma
                            proposta pedagógica: relato de uma experiência. <br />
                            In: AROSA, A. C.; MARINA, L. (Org.). A organização escolar em ciclos na rede municipal
                            de
                            Niterói. <br />
                            1ª ed. Rio de Janeiro: Oficina de Livros, 2010, v. 01, p. 139-156. <br /><br />

                            CRUZ, G. B. da. Tempo e espaço escolar: categorias importantes quando pensamos na
                            escolaridade em ciclos. <br />
                            In: CRUZ, G. B. da. (Org.). Ciclos em Debate. 1ª ed. Niterói: Intertexto, 2008, v. 1, p.
                            19-27. <br /><br />

                            ANDRÉ, M. E. D. A. de; CRUZ, G. B. da. A produção do conhecimento didático e a formação
                            de
                            professores no Brasil. <br />
                            In: OLIVEIRA, M. R. N. S.; PACHECO, J. A. (orgs.). Currículo, Didática e Formação de
                            Professores. <br />
                            1ª ed. Campinas/SP: Papirus, 2013. (p. 167-191) <br /><br />



                        </p>
                    </section>

                    <section id="painel" class="tab-panel">
                        <section id="gallery" class="gallery section-bg">
                            <div class="container" data-aos="fade-up">

                                <div class="section-header">
                                    <h2>Imagens</h2>
                                    <p><span>nossa galeria</span></p>
                                </div>

                                <div class="gallery-slider swiper">
                                    <div class="swiper-wrapper align-items-center">

                                        <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery"
                                                href="../assets/img/gallery/gallery-2.jpg"><img
                                                    src="../assets/img/gallery/gallery-2.jpg" class="img-fluid"
                                                    alt=""></a></div>
                                        <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery"
                                                href="../assets/img/gallery/gallery-3.jpg"><img
                                                    src="../assets/img/gallery/gallery-3.jpg" class="img-fluid"
                                                    alt=""></a></div>
                                        <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery"
                                                href="../assets/img/gallery/gallery-4.jpg"><img
                                                    src="../assets/img/gallery/gallery-4.jpg" class="img-fluid"
                                                    alt=""></a></div>
                                        <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery"
                                                href="../assets/img/gallery/gallery-5.jpg"><img
                                                    src="../assets/img/gallery/gallery-5.jpg" class="img-fluid"
                                                    alt=""></a></div>
                                        <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery"
                                                href="../assets/img/gallery/gallery-6.jpg"><img
                                                    src="../assets/img/gallery/gallery-6.jpg" class="img-fluid"
                                                    alt=""></a></div>
                                        <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery"
                                                href="../assets/img/gallery/gallery-7.jpg"><img
                                                    src="../assets/img/gallery/gallery-7.jpg" class="img-fluid"
                                                    alt=""></a></div>
                                        <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery"
                                                href="../assets/img/gallery/gallery-8.jpg"><img
                                                    src="../assets/img/gallery/gallery-8.jpg" class="img-fluid"
                                                    alt=""></a></div>
                                    </div>
                                    <div class="swiper-pagination"></div>
                                </div>

                            </div>
                        </section>
                    </section>

                    <section id="contato" class="tab-panel">
                        <section id="contact" class="contact">
                            <div class="container" data-aos="fade-up">

                                <div class="section-header">
                                    <h1>Contato</h1>

                                </div>

                                <div class="mb-3">
                                    <iframe style="border:0; width: 100%; height: 350px;"
                                        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14695.770657127821!2d-43.1744735!3d-22.9523386!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x6817eb587a3627a9!2sUFRJ%20-%20Campus%20Praia%20Vermelha!5e0!3m2!1spt-BR!2sbr!4v1656298509370!5m2!1spt-BR!2sbr"
                                        frameborder="0" allowfullscreen></iframe>
                                </div><!-- End Google Maps -->

                                <div class="row gy-4">

                                    <div class="col-md-6">
                                        <div class="info-item  d-flex align-items-center">
                                            <i class="icon bi bi-map flex-shrink-0"></i>
                                            <div>
                                                <h3>Endereço</h3>
                                                <p>UFRJ Praia vermelha</p>
                                            </div>
                                        </div>
                                    </div><!-- End Info Item -->

                                    <div class="col-md-6">
                                        <div class="info-item d-flex align-items-center">
                                            <i class="icon bi bi-envelope flex-shrink-0"></i>
                                            <div>
                                                <h3>Email</h3>
                                                <p>geped.feufrj@gmail.com</p>
                                            </div>
                                        </div>
                                    </div><!-- End Info Item -->

                                    <div class="col-md-6">
                                        <div class="info-item  d-flex align-items-center">
                                            <i class="icon bi bi-telephone flex-shrink-0"></i>
                                            <div>
                                                <h3>Telefone</h3>
                                                <p>21 98562 3265</p>
                                            </div>
                                        </div>
                                    </div><!-- End Info Item -->

                                    <div class="col-md-6">
                                        <div class="info-item  d-flex align-items-center">
                                            <i class="icon bi bi-share flex-shrink-0"></i>
                                            <div>
                                                <h3>Horários</h3>
                                                <div><strong>Segunda-Sábado:</strong> 11AM - 23PM;
                                                    <strong>Domingo:</strong> Fechado
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- End Info Item -->

                                </div>

                                <form action="forms/contact.php" method="post" role="form"
                                    class="php-email-form p-3 p-md-4">
                                    <div class="row">
                                        <div class="col-xl-6 form-group">
                                            <input type="text" name="name" class="form-control" id="name"
                                                placeholder="Seu Nome" required>
                                        </div>
                                        <div class="col-xl-6 form-group">
                                            <input type="email" class="form-control" name="email" id="email"
                                                placeholder="Seu Email" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="subject" id="subject"
                                            placeholder="Assunto" required>
                                    </div>
                                    <div class="form-group">
                                        <textarea class="form-control" name="message" rows="5" placeholder="Mensagem"
                                            required></textarea>
                                    </div>
                                    <div class="my-3">
                                        <div class="loading">Loading</div>
                                        <div class="error-message"></div>
                                        <div class="sent-message">Mensagem enviada. Obrigado!</div>
                                    </div>
                                    <div class="text-center"><button type="submit">Enviar mensagem</button></div>
                                </form>
                                <!--End Contact Form -->

                            </div>
                        </section>
                    </section>

                </div>

            </div>
        </div>
    </section>




</div>