body {
    background-color: #d34c65;
    text-align: center;
}

.socialMedia {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}



/* Icons */

/* Demo */
body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

/* Color Variables */
$color-codepen: #000;
$color-github: #4284c0;
$color-twitter: #2b97f1;
$color-youtube: #f31111;
$color-instagram: #527fa6;
$color-linkedin: #006599;
$color-facebook: #3b5a9b;

/* Social Icon Mixin */
@mixin social-icon($color) {
    background: $color;
    color: #fff;

    .tooltip {
        background: $color;
        color: currentColor;

        &:after {
            border-top-color: $color;
        }
    }
}

/* Social Icons */
.social-icons {
    display: flex;
}

.social-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 40px;
    height: 40px;
    margin: 0 0.5rem;
    border-radius: 50%;
    cursor: pointer;
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 1.5rem;
    text-decoration: none;
    transition: all 0.15s ease;

    &:hover {
        color: #fff;

        .tooltip {
            visibility: visible;
            opacity: 1;
            transform: translate(-50%, -150%);
        }
    }

    &:active {
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5) inset;
    }

    &--linkedin {
        @include social-icon($color-linkedin);
    }

    &--twitter {
        @include social-icon($color-twitter);
    }

    &--codepen {
        @include social-icon($color-codepen);
    }

    &--facebook {
        @include social-icon($color-facebook);
    }

    &--instagram {
        @include social-icon($color-instagram);
    }

    &--youtube {
        @include social-icon($color-youtube);
    }

    &--github {
        @include social-icon($color-github);
    }

    i {
        position: relative;
        top: 1px;
    }
}

/* Tooltips */
.tooltip {
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    padding: 0.8rem 1rem;
    border-radius: 40px;
    font-size: 0.8rem;
    font-weight: bold;
    opacity: 0;
    pointer-events: none;
    text-transform: uppercase;
    transform: translate(-50%, -100%);
    transition: all 0.3s ease;
    z-index: 1;

    &:after {
        display: block;
        position: absolute;
        bottom: 1px;
        left: 50%;
        width: 0;
        height: 0;
        content: "";
        border: solid;
        border-width: 10px 10px 0 10px;
        border-color: transparent;
        transform: translate(-50%, 100%);
    }
}

.img-participantes {
    height: 300px;
    width: 250px;
}


.img-parcerias-institucionais {
    height: 300px;
    width: 550px;
    margin-bottom: 15px;
}










/*
 CSS for the main interaction
*/
.tabset>input[type="radio"] {
    position: absolute;
    left: -200vw;
}

.tabset .tab-panel {
    display: none;
}

.tabset>input:first-child:checked~.tab-panels>.tab-panel:first-child,
.tabset>input:nth-child(3):checked~.tab-panels>.tab-panel:nth-child(2),
.tabset>input:nth-child(5):checked~.tab-panels>.tab-panel:nth-child(3),
.tabset>input:nth-child(7):checked~.tab-panels>.tab-panel:nth-child(4),
.tabset>input:nth-child(9):checked~.tab-panels>.tab-panel:nth-child(5),
.tabset>input:nth-child(11):checked~.tab-panels>.tab-panel:nth-child(6) {
    display: block;
}

/*
   Styling
  */


.tabset>label {
    position: relative;
    display: inline-block;
    padding: 15px 15px 25px;
    border: 1px solid transparent;
    border-bottom: 0;
    cursor: pointer;
    font-weight: 600;
}

.tabset>label::after {
    content: "";
    position: absolute;
    left: 15px;
    bottom: 10px;
    width: 22px;
    height: 4px;
    background: #8d8d8d;
}

.tabset>label:hover,
.tabset>input:focus+label {
    color: #06c;
}

.tabset>label:hover::after,
.tabset>input:focus+label::after,
.tabset>input:checked+label::after {
    background: #06c;
}

.tabset>input:checked+label {
    border-color: #ccc;
    border-bottom: 1px solid #fff;
    margin-bottom: -1px;
}

.tab-panel {
    padding: 30px 0;
    border-top: 1px solid #ccc;
}

/*
   Demo purposes only
  */
*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    padding: 30px;
}

.tabset {
    max-width: 65em;
}