<section id="hero">

    <div class="container">
        <div class="page-header mt-2">
            <h1 id="timeline">Histórico</h1>
        </div>
        <ul class="timeline">
            <li data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1500">
                <div class="timeline-badge"><i class="fa-solid fa-landmark"></i></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="timeline-title">XI ENDIPE</h4>
                        <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 22/06/2022</small></p>
                    </div>
                    <div class="timeline-body">
                        <p>Sedeamos o maior congresso de educação do Brasil. Foi fundado, em junho de 2009, por
                            professoras da Faculdade de Educação da UFRJ, a partir do Edital da FAPERJ Nº 04/2009, p</p>
                    </div>
                </div>
            </li>
            <li data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1500" class="timeline-inverted">
                <div class="timeline-badge warning"><i class="fa-solid fa-landmark"></i></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="timeline-title">NOVAS LINHAS DE PESQUISA</h4>
                        <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 22/06/2022</small></p>
                    </div>
                    <div class="timeline-body">
                        <p>Sedeamos o maior congresso de educação do Brasil. Foi fundado, em junho de 2009, por
                            professoras da Faculdade de Educação da UFRJ, a partir do Edital da FAPERJ Nº 04/2009, p</p>
                    </div>
                </div>
            </li>
            <li data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1500">
                <div class="timeline-badge"><i class="fa-solid fa-landmark"></i></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="timeline-title">CRIAÇÃO GRUPOS DE TRABALHO</h4>
                        <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 22/06/2022</small></p>
                    </div>
                    <div class="timeline-body">
                        <p>Sedeamos o maior congresso de educação do Brasil. Foi fundado, em junho de 2009, por
                            professoras da Faculdade de Educação da UFRJ, a partir do Edital da FAPERJ Nº 04/2009, p</p>
                    </div>
                </div>
            </li>
            <li data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1500" class="timeline-inverted">
                <div class="timeline-badge warning"><i class="fa-solid fa-landmark"></i></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="timeline-title">FUNDAÇÃO LEPED</h4>
                        <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 22/06/2022</small></p>
                    </div>
                    <div class="timeline-body">
                        <p>Sedeamos o maior congresso de educação do Brasil. Foi fundado, em junho de 2009, por
                            professoras da Faculdade de Educação da UFRJ, a partir do Edital da FAPERJ Nº 04/2009, p</p>
                    </div>
                </div>
            </li>

        </ul>
    </div>
</section>