<div class="row" mat-dialog-content>
    <form [formGroup]="grupoForm" (ngSubmit)="registerArticle()">



        <div class="section">
            <h3 class="section__title">Extensão e ensino {{type}}</h3>
        </div>

        <div class="form-row justify-content-center align-items-center">
            <div class="form-group col-12 col-md-12">
                <div class="form-group">
                    <input type="text" name="titleArticle" class="form-control" id="titleArticle" placeholder="Título"
                        formControlName="title" />
                    <div class="validation"></div>
                </div>
                <div *ngIf="type=='gedoc'" class="form-group">

                    <label>
                        <input type="radio" value="Realizados" formControlName="icEnsino">
                        <span> Realizados</span>
                    </label>

                </div>

                <div *ngIf="type=='gedoc'" class="form-group">


                    <label>
                        <input type="radio" value="Em Andamento" formControlName="icEnsino">
                        <span> Em Andamento</span>
                    </label>
                </div>

                <div *ngIf="type=='gedoc'" class="form-group">
                    <input type="text" name="dataArticle" class="form-control" id="dataArticle" placeholder="Data"
                        formControlName="date" />
                    <div class="validation"></div>
                </div>
                <div class="form-group">
                    <input type="text" name="authorsArticle" class="form-control" id="authorsArticle"
                        placeholder="Tipo de material" formControlName="type" />
                    <div class="validation"></div>
                </div>
                <div *ngIf="type=='gedoc'" class="form-group">
                    <input type="text" name="coordination" class="form-control" id="coordination"
                        placeholder="Coordenação" formControlName="coordination" />
                    <div class="validation"></div>
                </div>

                <div *ngIf="type=='gedoc'" class="form-group">
                    <angular-editor [placeholder]="'Resumo...'" formControlName="resume"></angular-editor>
                    <div class="validation"></div>
                </div>
                <div *ngIf="type=='gedoc'" class="form-group">
                    <input type="text" name="financing" class="form-control" id="financing" placeholder="Financiamento"
                        formControlName="financing" />
                    <div class="validation"></div>
                </div>


                <div *ngIf="type=='gedoc'" class="form-group">
                    <angular-editor [placeholder]="'Publicações...'" formControlName="researchLink"></angular-editor>
                    <div class="validation"></div>
                </div>


                <div class="form-group">
                    <input type="text" name="journalArticle" class="form-control" id="journalArticle"
                        placeholder="Link de acesso" formControlName="link" />
                    <div class="validation"></div>
                </div>

                <div class="form-group">
                    <input type="text" name="linkArticle" class="form-control" id="linkArticle"
                        placeholder="Link Youtube" formControlName="linkYoutube" />
                    <div class="validation"></div>
                </div>


            </div>
        </div>

        <div class="row justify-content-center" mat-dialog-actions>
            <div class="col-md-6">
                <div class="action">
                    <a class="btn btn-primary action__btn" (click)="closeDialog()">Cancelar</a>
                    <button class="btn btn-primary action__btn" type="submit">Salvar</button>
                </div>
            </div>
        </div>
    </form>
</div>