<section id="events" class="events">
    <div class="container" data-aos="fade-up">

        <div class="page-header mt-2">
            <h1 id="timeline">Obras Publicadas</h1>
        </div>

        <div class="slides-3 swiper" data-aos="fade-up" data-aos-delay="100">
            <div class="swiper-wrapper">

                <div class="swiper-slide event-item d-flex flex-column justify-content-end"
                    style="background-image: url(assets/img/obras1.jpg)">
                    <h3>Prática, Pesquisa e Formação Docente: narrativas do PIBID Pedagogia da UFRJ</h3>
                    <div class="price align-self-start"><a style="color: white"
                            href="https://editoracrv.com.br/produtos/detalhes/34033-crv?fbclid=IwAR0E6BdglpdSMhQO2EpzCpR1ZBI4ASM6chrZ1zJjxRDFUKR51V6qN-LKPh4"
                            target="_blank">Saiba mais</a></div>
                    <p class="description">
                        Organizado pela professora Giseli Barreto da Cruz, integrante do LEPED/FE/UFRJ.


                    </p>
                </div><!-- End Event item -->

                <div class="swiper-slide event-item d-flex flex-column justify-content-end"
                    style="background-image: url(assets/img/obras2.jpg)">
                    <h3>Ensino de Didática: Entre ressignificações e possibilidades</h3>
                    <div class="price align-self-start"><a style="color: white"
                            href="https://editoracrv.com.br/produtos/detalhes/32478-ensino-de-didaticabr-entre-ressignificacoes-e-possibilidades"
                            target="_blank">Saiba mais</a></div>
                    <p class="description">
                        Organizado pelas professoras Giseli Barreto da Cruz, Ana Teresa de Carvalho Correa de Oliveira e
                        Maria das Graças Chagas de Arruda Nascimento, integrantes do LEPED/FE/UFRJ.


                    </p>
                </div><!-- End Event item -->

                <div class="swiper-slide event-item d-flex flex-column justify-content-end"
                    style="background-image: url(assets/img/obras2.jpg)">
                    <h3>Ensino de Didática: Entre ressignificações e possibilidades</h3>
                    <div class="price align-self-start"><a style="color: white"
                            href="https://editoracrv.com.br/produtos/detalhes/32478-ensino-de-didaticabr-entre-ressignificacoes-e-possibilidades"
                            target="_blank">Saiba mais</a></div>
                    <p class="description">
                        Organizado pelas professoras Giseli Barreto da Cruz, Ana Teresa de Carvalho Correa de Oliveira e
                        Maria das Graças Chagas de Arruda Nascimento, integrantes do LEPED/FE/UFRJ.


                    </p>
                </div><!-- End Event item -->


            </div>
            <div class="swiper-pagination"></div>
        </div>

    </div>
</section>