<section id="about" class="about">
    <div class="container" data-aos="fade-up">

        <div class="page-header mt-2">
            <h1 id="timeline">XX ENDIPE RIO 2020</h1>
        </div>


        <div class="row ">
            <div class="card-deck">
                <div data-aos="fade-up" class="card border-0 col-sm-12 p-0">
                    <img class="card-img-top" src="assets/img/endipe.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title h4">Tema:<br /> FAZERES-SABERES PEDAGÓGICOS: DIÁLOGOS, INSURGÊNCIAS E
                            POLÍTICAS.</h4>
                        <h4 class="card-title h4">Coordenação:
                            <br /> Giseli Barreto da Cruz (UFRJ)
                            <br /> Claudia de Oliveira Fernandes (UNIRIO)
                            <br /> Vera Maria Candão (PUC-Rio)
                        </h4>

                        <p class="card-text">
                            <br />
                            <b>Youtube: <a href="https://m.youtube.com/channel/UCbUslY4DzrZs3fQEkky2NJQ"
                                    target="_blank"> Disponível aqui</a></b>
                            <br /><br />

                            <b>Carta do Rio: <a
                                    href="https://drive.google.com/file/d/16bAEBni50yqBs_ofYBYob8JzMKqvTIae/view?usp=sharing"
                                    target="_blank"> Disponível aqui</a></b>
                            <br /><br />

                            <b>Caderno do congressista: <a
                                    href="https://drive.google.com/file/d/1JM23OuzF36wuB87x5NneUQ2e4qgpjw-V/view?usp=sharing"
                                    target="_blank"> Disponível aqui</a></b>
                            <br /><br />
                            <b>E-books:</b><br />
                            0. E-book dos simposistas
                            <br /><br />
                            1. Didática(s) entre diálogos, insurgências e políticas: tensões e perspectivas na relação
                            com a formação docente: (<a
                                href="https://drive.google.com/file/d/18hpaAUxxXxxcGsAS-dWtMymWeASu_IJi/view?usp=sharing"
                                target="_blank">Volume I</a> e <a
                                href="https://drive.google.com/file/d/10-7rqjCV1tqt4735bqhEJf6LNLr-fTzL/view?usp=sharing"
                                target="_blank">Volume II</a>)
                            <br /><br />
                            2. Didática(s) entre diálogos, insurgências e políticas: tensões e perspectivas na relação
                            com currículo e avaliação (<a
                                href="https://drive.google.com/file/d/1P3qadVbFh5lvlmlRMWn7XXb7lAPI--C4/view?usp=sharing"
                                target="_blank">acesse aqui</a>)
                            <br /><br />
                            3. Didática(s) entre diálogos, insurgências e políticas: tensões e perspectivas na relação
                            em direitos humanos, interculturalidade e religiões (<a
                                href="https://drive.google.com/file/d/1M4X-l8wnIGSnFKvx71BQkCz-EEoE5REu/view?usp=sharing"
                                target="_blank">acesse aqui</a>)
                            <br /><br />
                            4. Didática(s) entre diálogos, insurgências e políticas: tensões e perspectivas na relação
                            entre novas epistemologias, biodiversidade, diferença, democracia e inclusão (<a
                                href="https://drive.google.com/file/d/1i_bww3qun1-gbHBvLkiq_FpCpVQoielc/view?usp=sharing"
                                target="_blank">acesse aqui</a>)
                            <br /><br />
                            5. Didática(s) entre diálogos, insurgências e políticas: tensões e perspectivas na relação
                            entre educação, comunicação e tecnologias (<a
                                href="https://drive.google.com/file/d/10kwrJrfIG5JDWdI2F_E3lSZIupX9iDoF/view?usp=sharing"
                                target="_blank">acesse aqui</a>)
                            <br /><br />
                            6. Didática(s) entre diálogos, insurgências e políticas: tensões e perspectivas na relação
                            com infâncias, juventudes e vida adulta (<a
                                href="https://drive.google.com/file/d/1KbZQqPwBSIse20wmwx4hJck6fAqGhHHQ/view?usp=sharing"
                                target="_blank">acesse aqui</a>)

                        </p>


                    </div>
                </div>

            </div>
        </div>

    </div>
</section>