<app-carrossel-home></app-carrossel-home>
<app-sobre></app-sobre>
<section id="chefs" class="chefs">
    <div class="container" data-aos="fade-up">

        <div class="section-header">
            <p>Coordenadoras</p>

        </div>

        <div class="row gy-4 mb-4 align-items-center justify-content-center">

            <div class=" col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                <div class="chef-member">
                    <div class="member-img">
                        <img src="../assets/img/grupos pesquisa/g2.jpg" class="img-fluid" alt="">
                        <div class="social">
                            <a target="_blank" href=""><i class="bi bi-twitter"></i></a>
                            <a target="_blank" href=""><i class="bi bi-facebook"></i></a>
                            <a target="_blank" href=""><i class="bi bi-instagram"></i></a>
                            <a target="_blank" href=""><i class="bi bi-globe"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Profª Drª Giseli Barreto da Cruz</h4>

                        <span>GEPED</span>
                        <p> <a href="mailto:giselicruz@ufrj.br">giselicruz@ufrj.br</a> <br />
                            <a target="_blank" href="http://lattes.cnpq.br/5755499489661099">Lattes</a><br /><br />
                            <a target="_blank" href="https://orcid.org/0000-0001-5581-427X">Orcid</a>
                        </p>
                    </div>
                </div>
            </div><!-- End Chefs Member -->

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                <div class="chef-member">
                    <div class="member-img">
                        <img src="../assets/img/grupos pesquisa/m2.jpg" class="img-fluid" alt="">
                        <div class="social">
                            <a target="_blank" href=""><i class="bi bi-twitter"></i></a>
                            <a target="_blank" href=""><i class="bi bi-facebook"></i></a>
                            <a target="_blank" href=""><i class="bi bi-instagram"></i></a>
                            <a target="_blank" href=""><i class="bi bi-globe"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Profª Drª Ana Teresa de Carvalho Corrêa de Oliveira</h4>
                        <span>GEPEMAT</span>
                        <p> <a href="mailto:anateresa@fe.ufrj.br">anateresa@fe.ufrj.br</a><br />
                            <a target="_blank" href="http://lattes.cnpq.br/2534222073519593">Lattes</a><br /><br />
                            <a target="_blank" href="https://orcid.org/0000-0003-4196-2639">Orcid</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                <div class="chef-member">
                    <div class="member-img">
                        <img src="../assets/img/grupos pesquisa/p2.jpg" class="img-fluid" alt="">
                        <div class="social">
                            <a target="_blank" href=""><i class="bi bi-twitter"></i></a>
                            <a target="_blank" href=""><i class="bi bi-facebook"></i></a>
                            <a target="_blank" href=""><i class="bi bi-instagram"></i></a>
                            <a target="_blank" href=""><i class="bi bi-globe"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Profª Drª Maria das Graças Chagas de Arruda Nascimento</h4>
                        <span>GEPROD</span>
                        <p> <a href="mailto:mgracascan@gmail.com">mgracascan@gmail.com</a> <br />
                            <a target="_blank" href="http://lattes.cnpq.br/0609119454872844">Lattes</a><br /><br />
                            <a target="_blank" href="http://orcid.org/0000-0002-6334-4121">Orcid</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                <div class="chef-member">
                    <div class="member-img">
                        <img src="../assets/img/grupos pesquisa/d2.jpg" class="img-fluid" alt="">
                        <div class="social">
                            <a target="_blank" href=""><i class="bi bi-twitter"></i></a>
                            <a target="_blank" href=""><i class="bi bi-facebook"></i></a>
                            <a target="_blank" href=""><i class="bi bi-instagram"></i></a>
                            <a target="_blank" href=""><i class="bi bi-globe"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Profª Drª Priscila Andrade Magalhães Rodrigues</h4>
                        <span>GEDOC</span>
                        <p> <a href="mailto:priscilaapri@gmail.com">priscilaapri@gmail.com</a><br />
                            <a target="_blank" href="http://lattes.cnpq.br/5607229413296318">Lattes</a><br /><br />
                            <a target="_blank" href="https://orcid.org/0000-0002-1678-6621">Orcid</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                <div class="chef-member">
                    <div class="member-img">
                        <img src="../assets/img/grupos pesquisa/c2.jpg" class="img-fluid" alt="">
                        <div class="social">
                            <a target="_blank" href=""><i class="bi bi-twitter"></i></a>
                            <a target="_blank" href=""><i class="bi bi-facebook"></i></a>
                            <a target="_blank" href=""><i class="bi bi-instagram"></i></a>
                            <a target="_blank" href=""><i class="bi bi-globe"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Profª Drª Monique Andries Nogueira</h4>
                        <span>GECULT</span>
                        <p><a href="mailto:monique.andries@yahoo.com ">monique.andries@yahoo.com </a> <br />
                            <a target="_blank" href="http://lattes.cnpq.br/7560951448803509">Lattes</a><br /><br />
                            <a target="_blank" href="https://orcid.org/0000-0003-1982-0693">Orcid</a>
                        </p>
                    </div>
                </div>
            </div>

        </div>




    </div>
</section>
<section id="gallery" class="gallery section-bg">
    <div class="container" data-aos="fade-up">

        <div class="section-header">
            <h2>Imagens</h2>
            <p><span>nossa galeria</span></p>
        </div>

        <div class="gallery-slider swiper">
            <div class="swiper-wrapper align-items-center">

                <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery"
                        href="../assets/img/gallery/gallery-1-leped.jpeg"><img
                            src="../assets/img/gallery/gallery-1-leped.jpeg" class="img-fluid" alt=""></a></div>
                <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery"
                        href="../assets/img/gallery/gallery-2-leped.jpeg"><img
                            src="../assets/img/gallery/gallery-2-leped.jpeg" class="img-fluid" alt=""></a></div>
                <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery"
                        href="../assets/img/gallery/gallery-3-leped.jpeg"><img
                            src="../assets/img/gallery/gallery-3-leped.jpeg" class="img-fluid" alt=""></a></div>

            </div>
            <div class="swiper-pagination"></div>
        </div>

    </div>
</section>