<app-carrossel-home></app-carrossel-home>
<app-sobre></app-sobre>
<section id="chefs" class="chefs">
    <div class="container" data-aos="fade-up">

        <div class="section-header">
            <p>Grupos</p>

        </div>

        <div class="row gy-4 mb-4">

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                <div class="chef-member">
                    <div class="member-img">
                        <img src="../assets/img/grupos pesquisa/g2.jpg" class="img-fluid" alt="">
                        <div class="social">
                            <a target="_blank" href=""><i class="bi bi-twitter"></i></a>
                            <a target="_blank" href=""><i class="bi bi-facebook"></i></a>
                            <a target="_blank" href=""><i class="bi bi-instagram"></i></a>
                            <a target="_blank" href=""><i class="bi bi-globe"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Profª Drª Giseli Barreto da Cruz</h4>
                        <span>GEPED</span>
                        <p>Descritivo sobre a professora, titulos, etc... <br />
                            <a target="_blank" href="http://lattes.cnpq.br/5755499489661099">Lattes</a><br />
                            <a target="_blank" href="https://orcid.org/0000-0001-5581-42">Orchid</a>
                        </p>
                    </div>
                </div>
            </div><!-- End Chefs Member -->

            <div class="col-lg-8 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                <div class="justify-content-between">
                    <div class="col-lg-5 order-1 order-lg-2 text-center text-lg-start">
                        <img src="../assets/img/grupos pesquisa/g1.jpg" class="img-fluid" alt="" data-aos="zoom-out"
                            data-aos-delay="300">
                    </div>
                    <br />
                    <h3 data-aos="fade-up"><b>Grupo de Estudos e Pesquisas em Didádica e Formação
                            de Professores</b></h3>
                    <div style="text-align: justify;">

                        O GEPED – Laboratório de Estudos e Pesquisas em Didática e Formação de Professores foi
                        fundado, em
                        junho de 2009, por professoras da Faculdade de Educação da UFRJ, a partir do Edital da
                        FAPERJ Nº
                        04/2009, para apoio a instituições de ensino e pesquisa sediadas no Estado do Rio de
                        Janeiro. O
                        Laboratório foi criado com o propósito de favorecer estudos e pesquisas sobre concepções e
                        práticas
                        didáticas nos espaços de formação e de atuação de professores, contribuindo para a produção
                        de
                        conhecimentos sobre o ensinar e o aprender, em contextos situados e histórica e socialmente
                        determinados.
                        São fundadoras do LEPED as professoras Ana Teresa de Carvalho Correa de Oliveira, Giseli
                        Barreto da
                        Cruz, Maria das Graças Chagas de Arruda Nascimento e Monique Andries Nogueira.
                        <br /> <br />
                        O LEPED abarca até o momento cinco grupos de pesquisas (GEPED, GEPROD, GEPEMAT, GECULT e
                        GEDOC),
                        coordenados por professoras da Faculdade de Educação da UFRJ. Os grupos são compostos por
                        pós-graduandos e licenciandos dos diferentes cursos oferecidos pela Universidade e de outras
                        instituições de ensino superior do Estado do Rio de Janeiro, professores da educação básica
                        e outros
                        pesquisadores interessados.
                        <br /> <br />



                    </div>
                </div>
            </div><!-- End Chefs Member -->
        </div>


        <div class="row gy-4 mb-4">

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                <div class="chef-member">
                    <div class="member-img">
                        <img src="../assets/img/grupos pesquisa/m2.jpg" class="img-fluid" alt="">
                        <div class="social">
                            <a target="_blank" href=""><i class="bi bi-twitter"></i></a>
                            <a target="_blank" href=""><i class="bi bi-facebook"></i></a>
                            <a target="_blank" href=""><i class="bi bi-instagram"></i></a>
                            <a target="_blank" href=""><i class="bi bi-globe"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Profª Drª Ana Teresa de Carvalho Corrêa de Oliveira</h4>
                        <span>GEPEMAT</span>
                        <p>Descritivo sobre a professora, titulos, etc... <br />
                            <a target="_blank" href="https://orcid.org/0000-0003-4196-2639">Lattes</a><br />
                            <a target="_blank" href="http://lattes.cnpq.br/2534222073519593">Orchid</a>
                        </p>
                    </div>
                </div>
            </div><!-- End Chefs Member -->

            <div class="col-lg-8 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                <div class="justify-content-between">
                    <div class="col-lg-5 order-1 order-lg-2 text-center text-lg-start">
                        <img src="../assets/img/grupos pesquisa/m1.jpg" class="img-fluid" alt="" data-aos="zoom-out"
                            data-aos-delay="300">
                    </div>
                    <br />
                    <h3 data-aos="fade-up"><b>Grupo de Estudos e Pesquisas em Formação de Professores que
                            ensinam Matemática / FE-UFRJ</b></h3>
                    <div style="text-align: justify;">

                        Descritivo do grupo
                        <br /> <br />



                    </div>
                </div>
            </div><!-- End Chefs Member -->
        </div>



        <div class="row gy-4 mb-4">

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                <div class="chef-member">
                    <div class="member-img">
                        <img src="../assets/img/grupos pesquisa/p2.jpg" class="img-fluid" alt="">
                        <div class="social">
                            <a target="_blank" href=""><i class="bi bi-twitter"></i></a>
                            <a target="_blank" href=""><i class="bi bi-facebook"></i></a>
                            <a target="_blank" href=""><i class="bi bi-instagram"></i></a>
                            <a target="_blank" href=""><i class="bi bi-globe"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Profª Drª Maria das Graças Chagas de Arruda Nascimento</h4>
                        <span>GEPROD</span>
                        <p>Descritivo sobre a professora, titulos, etc... <br />
                            <a target="_blank" href="http://lattes.cnpq.br/0609119454872844">Lattes</a><br />
                            <a target="_blank" href="http://orcid.org/0000-0002-6334-4121">Orchid</a>
                        </p>
                    </div>
                </div>
            </div><!-- End Chefs Member -->

            <div class="col-lg-8 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                <div class="justify-content-between">
                    <div class="col-lg-5 order-1 order-lg-2 text-center text-lg-start">
                        <img src="../assets/img/grupos pesquisa/p1.jpg" class="img-fluid" alt="" data-aos="zoom-out"
                            data-aos-delay="300">
                    </div>
                    <br />
                    <h3 data-aos="fade-up"><b>Grupo de Estudos e Pesquisas sobre Profissão e Formação Docente</b></h3>
                    <div style="text-align: justify;">

                        Descritivo do grupo
                        <br /> <br />



                    </div>
                </div>
            </div><!-- End Chefs Member -->
        </div>




        <div class="row gy-4 mb-4">

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                <div class="chef-member">
                    <div class="member-img">
                        <img src="../assets/img/grupos pesquisa/d2.jpg" class="img-fluid" alt="">
                        <div class="social">
                            <a target="_blank" href=""><i class="bi bi-twitter"></i></a>
                            <a target="_blank" href=""><i class="bi bi-facebook"></i></a>
                            <a target="_blank" href=""><i class="bi bi-instagram"></i></a>
                            <a target="_blank" href=""><i class="bi bi-globe"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Profª Drª Priscila Andrade Magalhães Rodrigues</h4>
                        <span>GEDOC</span>
                        <p>Descritivo sobre a professora, titulos, etc... <br />
                            <a target="_blank" href="http://lattes.cnpq.br/5607229413296318">Lattes</a><br />
                            <a target="_blank" href="https://orcid.org/0000-0002-1678-6621">Orchid</a>
                        </p>
                    </div>
                </div>
            </div><!-- End Chefs Member -->

            <div class="col-lg-8 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                <div class="justify-content-between">
                    <div class="col-lg-5 order-1 order-lg-2 text-center text-lg-start">
                        <img src="../assets/img/grupos pesquisa/d1.jpg" class="img-fluid" alt="" data-aos="zoom-out"
                            data-aos-delay="300">
                    </div>
                    <br />
                    <h3 data-aos="fade-up"><b>GGrupo de Extensão e Pesquisa em Docência e Formação de Professores</b>
                    </h3>
                    <div style="text-align: justify;">

                        Descritivo do grupo



                    </div>
                </div>
            </div><!-- End Chefs Member -->
        </div>




        <div class="row gy-4 mb-4">

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                <div class="chef-member">
                    <div class="member-img">
                        <img src="../assets/img/grupos pesquisa/c2.jpg" class="img-fluid" alt="">
                        <div class="social">
                            <a target="_blank" href=""><i class="bi bi-twitter"></i></a>
                            <a target="_blank" href=""><i class="bi bi-facebook"></i></a>
                            <a target="_blank" href=""><i class="bi bi-instagram"></i></a>
                            <a target="_blank" href=""><i class="bi bi-globe"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Profª Drª Monique Andries Nogueira</h4>
                        <span>GECULT</span>
                        <p>Descritivo sobre a professora, titulos, etc... <br />
                            <a target="_blank" href="http://lattes.cnpq.br/7560951448803509">Lattes</a><br />
                            <a target="_blank" href="https://orcid.org/0000-0003-1982-0693">Orchid</a>
                        </p>
                    </div>
                </div>
            </div><!-- End Chefs Member -->

            <div class="col-lg-8 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                <div class="justify-content-between">
                    <div class="col-lg-5 order-1 order-lg-2 text-center text-lg-start">
                        <img src="../assets/img/grupos pesquisa/c1.jpg" class="img-fluid" alt="" data-aos="zoom-out"
                            data-aos-delay="300">
                    </div>
                    <br />
                    <h3 data-aos="fade-up"><b>Grupo de Estudos e Pesquisas sobre Educação, Arte e Cultura</b></h3>
                    <div style="text-align: justify;">

                        Descritivo do grupo
                        <br /> <br />



                    </div>
                </div>
            </div><!-- End Chefs Member -->
        </div>

    </div>
</section>
<section id="gallery" class="gallery section-bg">
    <div class="container" data-aos="fade-up">

        <div class="section-header">
            <h2>Imagens</h2>
            <p><span>nossa galeria</span></p>
        </div>

        <div class="gallery-slider swiper">
            <div class="swiper-wrapper align-items-center">

                <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery"
                        href="../assets/img/gallery/gallery-2.jpg"><img src="../assets/img/gallery/gallery-2.jpg"
                            class="img-fluid" alt=""></a></div>
                <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery"
                        href="../assets/img/gallery/gallery-3.jpg"><img src="../assets/img/gallery/gallery-3.jpg"
                            class="img-fluid" alt=""></a></div>
                <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery"
                        href="../assets/img/gallery/gallery-4.jpg"><img src="../assets/img/gallery/gallery-4.jpg"
                            class="img-fluid" alt=""></a></div>
                <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery"
                        href="../assets/img/gallery/gallery-5.jpg"><img src="../assets/img/gallery/gallery-5.jpg"
                            class="img-fluid" alt=""></a></div>
                <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery"
                        href="../assets/img/gallery/gallery-6.jpg"><img src="../assets/img/gallery/gallery-6.jpg"
                            class="img-fluid" alt=""></a></div>
                <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery"
                        href="../assets/img/gallery/gallery-7.jpg"><img src="../assets/img/gallery/gallery-7.jpg"
                            class="img-fluid" alt=""></a></div>
                <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery"
                        href="../assets/img/gallery/gallery-8.jpg"><img src="../assets/img/gallery/gallery-8.jpg"
                            class="img-fluid" alt=""></a></div>
            </div>
            <div class="swiper-pagination"></div>
        </div>

    </div>
</section>