<section id="about" class="about">
    <div class="container" data-aos="fade-up">

        <div class="page-header mt-2">
            <h1 id="timeline">Eventos</h1>
        </div>


        <div class="row ">
            <div class="card-deck">
                <div data-aos="fade-up" class="card border-0 col-sm-6 p-0">
                    <img class="card-img-top" src="assets/img/evento1.png" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title h4">IV Simpósio sobre Ensino de Didática do LEPED</h4>
                        <p class="card-text">Rua Rui Barbosa, 762 – Flamengo – Rio de Janeiro – RJ.</p>
                        <h5 class="card-date">14-15 de maio de 2018</h5>
                        <h5 class="card-date"><a href="http://www2.educacao.fe.ufrj.br/2018/04/17/iv-simposio-do-leped/"
                                target="_blank">Site do evento</a></h5>

                    </div>
                </div>
                <div data-aos="fade-up" class="card border-0 col-sm-6 p-0">
                    <img class="card-img-top" src="assets/img/evento1.png" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title h4">III Simpósio sobre Ensino de Didática do LEPED</h4>
                        <p class="card-text">Avenida Pasteur, 250 – Urca – Rio de Janeiro – RJ.</p>
                        <h5 class="card-date">17 -18 de maio de 2016</h5>
                        <h5 class="card-date"><a href="http://leped-feufrj.com.br/iiised" target="_blank">Site do
                                evento</a></h5>

                    </div>
                </div>
                <div data-aos="fade-up" class="card border-0 col-sm-6 p-0">
                    <img class="card-img-top" src="assets/img/evento2.png" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title h4">II Simpósio sobre Ensino de Didática do LEPED</h4>
                        <p class="card-text">Av. Pasteur, 350 / 368 – Urca – Rio de Janeiro – RJ</p>
                        <h5 class="card-date">06-07 de maio de 2014</h5>
                        <h5 class="card-date"><a
                                href="http://www.leped-feufrj.com.br/pages/home/eventos/ii-simposio/home.php"
                                target="_blank">Site do evento</a></h5>

                    </div>
                </div>
                <div data-aos="fade-up" class="card border-0 col-sm-6 p-0">
                    <img class="card-img-top" src="assets/img/evento3.png" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title h4">I Simpósio sobre Ensino de Didática do LEPED</h4>
                        <p class="card-text">Faculdade de Educação da UFRJ.</p>
                        <h5 class="card-date">27-28 de março de 2012</h5>
                        <h5 class="card-date"><a href="http://www.leped-feufrj.com.br/pages/home/eventos/i-simposio.php"
                                target="_blank">Site do evento</a></h5>

                    </div>
                </div>
            </div>
        </div>

    </div>
</section>